# Program 1

In [1]:
#Install Libraries

In [2]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\maahi\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\maahi\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\maahi\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\maahi\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\maahi\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\maahi\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\maahi\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\maahi\anaconda3\lib\site-packages (from requests) (1.26.9)

In [3]:
#Importing the libraries

In [4]:
from bs4 import BeautifulSoup
import requests

In [5]:
#Requesting the  wikipedia.org page

In [5]:
page1=requests.get("https://en.wikipedia.org/wiki/Main_Page")
page1

In [6]:
soup_1=BeautifulSoup(page1.content)

In [ ]:
#Approach 1

In [7]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
#Scrapping Header Tags from the webiste

In [8]:
h1=[]
for i in soup_1.find_all('h1',class_="firstHeading mw-first-heading"):
    h1.append(i.text)
h1

['Main Page']

In [9]:
h2=[]
for i in soup_1.find_all('h2',class_="mp-h2"):
    h2.append(i.text)
h2

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [ ]:
#Here, since both the h1 and h2 are of diff lengths, Storing the obtained results in Data Frame becomes difficult

In [ ]:
#Approach 2

In [10]:
header=[i.text for i in soup_1.find_all(class_="mw-headline")]
header

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [69]:
#Storing the obtained results in Data Frame

In [11]:
import pandas as pd

In [12]:
df1=pd.DataFrame(data=header,columns=["Headings of Wikipedia"])

In [13]:
print("All header tags from Wikipedia")
df1

All header tags from Wikipedia

           Headings of Wikipedia
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

# Program2

In [ ]:
#requesting the desired webpage

In [14]:
page2=requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc")
page2

In [15]:
soup_2=BeautifulSoup(page2.content)

In [ ]:
 #Generating list of 1st 50 movies(as 1st page has 5o movies only)

In [16]:
movies=[]
for i in soup_2.find_all('h3',class_="lister-item-header"):
    movies.append(i.text)
movies

['\n1.\nThe Shawshank Redemption\n(1994)\n',
 '\n2.\nThe Godfather\n(1972)\n',
 '\n3.\nThe Dark Knight\n(2008)\n',
 '\n4.\nThe Lord of the Rings: The Return of the King\n(2003)\n',
 "\n5.\nSchindler's List\n(1993)\n",
 '\n6.\nThe Godfather Part II\n(1974)\n',
 '\n7.\n12 Angry Men\n(1957)\n',
 '\n8.\nPulp Fiction\n(1994)\n',
 '\n9.\nInception\n(2010)\n',
 '\n10.\nThe Lord of the Rings: The Two Towers\n(2002)\n',
 '\n11.\nFight Club\n(1999)\n',
 '\n12.\nThe Lord of the Rings: The Fellowship of the Ring\n(2001)\n',
 '\n13.\nForrest Gump\n(1994)\n',
 '\n14.\nIl buono, il brutto, il cattivo\n(1966)\n',
 '\n15.\nThe Matrix\n(1999)\n',
 '\n16.\nGoodfellas\n(1990)\n',
 '\n17.\nThe Empire Strikes Back\n(1980)\n',
 "\n18.\nOne Flew Over the Cuckoo's Nest\n(1975)\n",
 '\n19.\nInterstellar\n(2014)\n',
 '\n20.\nCidade de Deus\n(2002)\n',
 '\n21.\nSen to Chihiro no kamikakushi\n(2001)\n',
 '\n22.\nSaving Private Ryan\n(1998)\n',
 '\n23.\nThe Green Mile\n(1999)\n',
 '\n24.\nLa vita è bella\n(1997)\n',
 '\n25.\nSe7en\n(1995)\n',
 '\n26.\nTerminator 2: Judgment Day\n(1991)\n',
 '\n27.\nThe Silence of the Lambs\n(1991)\n',
 '\n28.\nStar Wars\n(1977)\n',
 '\n29.\nSeppuku\n(1962)\n',
 '\n30.\nShichinin no samurai\n(1954)\n',
 "\n31.\nIt's a Wonderful Life\n(1946)\n",
 '\n32.\nGisaengchung\n(2019)\n',
 '\n33.\nWhiplash\n(2014)\n',
 '\n34.\nThe Intouchables\n(2011)\n',
 '\n35.\nThe Prestige\n(2006)\n',
 '\n36.\nThe Departed\n(2006)\n',
 '\n37.\nThe Pianist\n(2002)\n',
 '\n38.\nGladiator\n(2000)\n',
 '\n39.\nAmerican History X\n(1998)\n',
 '\n40.\nThe Usual Suspects\n(1995)\n',
 '\n41.\nLéon\n(1994)\n',
 '\n42.\nThe Lion King\n(1994)\n',
 '\n43.\nNuovo Cinema Paradiso\n(1988)\n',
 '\n44.\nHotaru no haka\n(1988)\n',
 '\n45.\nBack to the Future\n(1985)\n',
 '\n46.\nApocalypse Now\n(1979)\n',
 '\n47.\nAlien\n(1979)\n',
 '\n48.\nOnce Upon a Time in the West\n(1968)\n',
 '\n49.\nPsycho\n(1960)\n',
 '\n50.\nRear Window\n(1954)\n']

In [17]:
len(movies)

50

In [18]:
ratings=[]
for i in soup_2.find_all('div',class_="inline-block ratings-imdb-rating"):
    ratings.append(i.text)
ratings

['\n\n9.3\n',
 '\n\n9.2\n',
 '\n\n9.0\n',
 '\n\n9.0\n',
 '\n\n9.0\n',
 '\n\n9.0\n',
 '\n\n9.0\n',
 '\n\n8.9\n',
 '\n\n8.8\n',
 '\n\n8.8\n',
 '\n\n8.8\n',
 '\n\n8.8\n',
 '\n\n8.8\n',
 '\n\n8.8\n',
 '\n\n8.7\n',
 '\n\n8.7\n',
 '\n\n8.7\n',
 '\n\n8.7\n',
 '\n\n8.6\n',
 '\n\n8.6\n',
 '\n\n8.6\n',
 '\n\n8.6\n',
 '\n\n8.6\n',
 '\n\n8.6\n',
 '\n\n8.6\n',
 '\n\n8.6\n',
 '\n\n8.6\n',
 '\n\n8.6\n',
 '\n\n8.6\n',
 '\n\n8.6\n',
 '\n\n8.6\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n']

In [20]:
len(ratings)

50

In [21]:
year=[]
for i in soup_2.find_all('span',class_="lister-item-year text-muted unbold"):
    year.append(i.text)
year

['(1994)',
 '(1972)',
 '(2008)',
 '(2003)',
 '(1993)',
 '(1974)',
 '(1957)',
 '(1994)',
 '(2010)',
 '(2002)',
 '(1999)',
 '(2001)',
 '(1994)',
 '(1966)',
 '(1999)',
 '(1990)',
 '(1980)',
 '(1975)',
 '(2014)',
 '(2002)',
 '(2001)',
 '(1998)',
 '(1999)',
 '(1997)',
 '(1995)',
 '(1991)',
 '(1991)',
 '(1977)',
 '(1962)',
 '(1954)',
 '(1946)',
 '(2019)',
 '(2014)',
 '(2011)',
 '(2006)',
 '(2006)',
 '(2002)',
 '(2000)',
 '(1998)',
 '(1995)',
 '(1994)',
 '(1994)',
 '(1988)',
 '(1988)',
 '(1985)',
 '(1979)',
 '(1979)',
 '(1968)',
 '(1960)',
 '(1954)']

In [22]:
len(year)

50

In [ ]:
#Generating Remaining 50 movies(i.e. 51-100 from 2nd page)

In [23]:
page2_=requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt")
page2_

In [24]:
soup_2_=BeautifulSoup(page2_.content)

In [25]:
for i in soup_2_.find_all('h3',class_="lister-item-header"):
    movies.append(i.text)
movies

['\n1.\nThe Shawshank Redemption\n(1994)\n',
 '\n2.\nThe Godfather\n(1972)\n',
 '\n3.\nThe Dark Knight\n(2008)\n',
 '\n4.\nThe Lord of the Rings: The Return of the King\n(2003)\n',
 "\n5.\nSchindler's List\n(1993)\n",
 '\n6.\nThe Godfather Part II\n(1974)\n',
 '\n7.\n12 Angry Men\n(1957)\n',
 '\n8.\nPulp Fiction\n(1994)\n',
 '\n9.\nInception\n(2010)\n',
 '\n10.\nThe Lord of the Rings: The Two Towers\n(2002)\n',
 '\n11.\nFight Club\n(1999)\n',
 '\n12.\nThe Lord of the Rings: The Fellowship of the Ring\n(2001)\n',
 '\n13.\nForrest Gump\n(1994)\n',
 '\n14.\nIl buono, il brutto, il cattivo\n(1966)\n',
 '\n15.\nThe Matrix\n(1999)\n',
 '\n16.\nGoodfellas\n(1990)\n',
 '\n17.\nThe Empire Strikes Back\n(1980)\n',
 "\n18.\nOne Flew Over the Cuckoo's Nest\n(1975)\n",
 '\n19.\nInterstellar\n(2014)\n',
 '\n20.\nCidade de Deus\n(2002)\n',
 '\n21.\nSen to Chihiro no kamikakushi\n(2001)\n',
 '\n22.\nSaving Private Ryan\n(1998)\n',
 '\n23.\nThe Green Mile\n(1999)\n',
 '\n24.\nLa vita è bella\n(1997)\n',
 '\n25.\nSe7en\n(1995)\n',
 '\n26.\nTerminator 2: Judgment Day\n(1991)\n',
 '\n27.\nThe Silence of the Lambs\n(1991)\n',
 '\n28.\nStar Wars\n(1977)\n',
 '\n29.\nSeppuku\n(1962)\n',
 '\n30.\nShichinin no samurai\n(1954)\n',
 "\n31.\nIt's a Wonderful Life\n(1946)\n",
 '\n32.\nGisaengchung\n(2019)\n',
 '\n33.\nWhiplash\n(2014)\n',
 '\n34.\nThe Intouchables\n(2011)\n',
 '\n35.\nThe Prestige\n(2006)\n',
 '\n36.\nThe Departed\n(2006)\n',
 '\n37.\nThe Pianist\n(2002)\n',
 '\n38.\nGladiator\n(2000)\n',
 '\n39.\nAmerican History X\n(1998)\n',
 '\n40.\nThe Usual Suspects\n(1995)\n',
 '\n41.\nLéon\n(1994)\n',
 '\n42.\nThe Lion King\n(1994)\n',
 '\n43.\nNuovo Cinema Paradiso\n(1988)\n',
 '\n44.\nHotaru no haka\n(1988)\n',
 '\n45.\nBack to the Future\n(1985)\n',
 '\n46.\nApocalypse Now\n(1979)\n',
 '\n47.\nAlien\n(1979)\n',
 '\n48.\nOnce Upon a Time in the West\n(1968)\n',
 '\n49.\nPsycho\n(1960)\n',
 '\n50.\nRear Window\n(1954)\n',
 '\n51.\nCasablanca\n(1942)\n',
 '\n52.\nModern Times\n(1936)\n',
 '\n53.\nCity Lights\n(1931)\n',
 '\n54.\nCapharnaüm\n(2018)\n',
 '\n55.\nJoker\n(I) (2019)\n',
 '\n56.\nKimi no Na wa.\n(2016)\n',
 '\n57.\nSpider-Man: Into the Spider-Verse\n(2018)\n',
 '\n58.\nAvengers: Endgame\n(2019)\n',
 '\n59.\nAvengers: Infinity War\n(2018)\n',
 '\n60.\nCoco\n(I) (2017)\n',
 '\n61.\nDjango Unchained\n(2012)\n',
 '\n62.\nTop Gun: Maverick\n(2022)\n',
 '\n63.\nThe Dark Knight Rises\n(2012)\n',
 '\n64.\n3 Idiots\n(2009)\n',
 '\n65.\nWALL·E\n(2008)\n',
 '\n66.\nThe Lives of Others\n(2006)\n',
 '\n67.\nOldeuboi\n(2003)\n',
 '\n68.\nMemento\n(2000)\n',
 '\n69.\nAmerican Beauty\n(1999)\n',
 '\n70.\nMononoke-hime\n(1997)\n',
 '\n71.\nBraveheart\n(1995)\n',
 '\n72.\nIdi i smotri\n(1985)\n',
 '\n73.\nAliens\n(1986)\n',
 '\n74.\nAmadeus\n(1984)\n',
 '\n75.\nRaiders of the Lost Ark\n(1981)\n',
 '\n76.\nDas Boot\n(1981)\n',
 '\n77.\nThe Shining\n(1980)\n',
 '\n78.\nTengoku to jigoku\n(1963)\n',
 '\n79.\nDr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb\n(1964)\n',
 '\n80.\nWitness for the Prosecution\n(1957)\n',
 '\n81.\nPaths of Glory\n(1957)\n',
 '\n82.\nSunset Blvd.\n(1950)\n',
 '\n83.\nThe Great Dictator\n(1940)\n',
 '\n84.\nJagten\n(2012)\n',
 '\n85.\nToy Story 3\n(2010)\n',
 '\n86.\nInglourious Basterds\n(2009)\n',
 '\n87.\nEternal Sunshine of the Spotless Mind\n(2004)\n',
 '\n88.\nRequiem for a Dream\n(2000)\n',
 '\n89.\nGood Will Hunting\n(1997)\n',
 '\n90.\nToy Story\n(1995)\n',
 '\n91.\nReservoir Dogs\n(1992)\n',
 '\n92.\nOnce Upon a Time in America\n(1984)\n',
 '\n93.\nStar Wars: Episode VI - Return of the Jedi\n(1983)\n',
 '\n94.\n2001: A Space Odyssey\n(1968)\n',
 '\n95.\nLawrence of Arabia\n(1962)\n',
 '\n96.\nNorth by Northwest\n(1959)\n',
 '\n97.\nVertigo\n(1958)\n',
 "\n98.\nSingin' in the Rain\n(1952)\n",
 '\n99.\nCitizen Kane\n(1941)\n',
 '\n100.\nM - Eine Stadt sucht einen Mörder\n(1931)\n']

In [26]:
len(movies)

100

In [27]:
#Removing the \n with blank 
moviess=[i.replace('\n','')for i in movies]
moviess

['1.The Shawshank Redemption(1994)',
 '2.The Godfather(1972)',
 '3.The Dark Knight(2008)',
 '4.The Lord of the Rings: The Return of the King(2003)',
 "5.Schindler's List(1993)",
 '6.The Godfather Part II(1974)',
 '7.12 Angry Men(1957)',
 '8.Pulp Fiction(1994)',
 '9.Inception(2010)',
 '10.The Lord of the Rings: The Two Towers(2002)',
 '11.Fight Club(1999)',
 '12.The Lord of the Rings: The Fellowship of the Ring(2001)',
 '13.Forrest Gump(1994)',
 '14.Il buono, il brutto, il cattivo(1966)',
 '15.The Matrix(1999)',
 '16.Goodfellas(1990)',
 '17.The Empire Strikes Back(1980)',
 "18.One Flew Over the Cuckoo's Nest(1975)",
 '19.Interstellar(2014)',
 '20.Cidade de Deus(2002)',
 '21.Sen to Chihiro no kamikakushi(2001)',
 '22.Saving Private Ryan(1998)',
 '23.The Green Mile(1999)',
 '24.La vita è bella(1997)',
 '25.Se7en(1995)',
 '26.Terminator 2: Judgment Day(1991)',
 '27.The Silence of the Lambs(1991)',
 '28.Star Wars(1977)',
 '29.Seppuku(1962)',
 '30.Shichinin no samurai(1954)',
 "31.It's a Wonderful Life(1946)",
 '32.Gisaengchung(2019)',
 '33.Whiplash(2014)',
 '34.The Intouchables(2011)',
 '35.The Prestige(2006)',
 '36.The Departed(2006)',
 '37.The Pianist(2002)',
 '38.Gladiator(2000)',
 '39.American History X(1998)',
 '40.The Usual Suspects(1995)',
 '41.Léon(1994)',
 '42.The Lion King(1994)',
 '43.Nuovo Cinema Paradiso(1988)',
 '44.Hotaru no haka(1988)',
 '45.Back to the Future(1985)',
 '46.Apocalypse Now(1979)',
 '47.Alien(1979)',
 '48.Once Upon a Time in the West(1968)',
 '49.Psycho(1960)',
 '50.Rear Window(1954)',
 '51.Casablanca(1942)',
 '52.Modern Times(1936)',
 '53.City Lights(1931)',
 '54.Capharnaüm(2018)',
 '55.Joker(I) (2019)',
 '56.Kimi no Na wa.(2016)',
 '57.Spider-Man: Into the Spider-Verse(2018)',
 '58.Avengers: Endgame(2019)',
 '59.Avengers: Infinity War(2018)',
 '60.Coco(I) (2017)',
 '61.Django Unchained(2012)',
 '62.Top Gun: Maverick(2022)',
 '63.The Dark Knight Rises(2012)',
 '64.3 Idiots(2009)',
 '65.WALL·E(2008)',
 '66.The Lives of Others(2006)',
 '67.Oldeuboi(2003)',
 '68.Memento(2000)',
 '69.American Beauty(1999)',
 '70.Mononoke-hime(1997)',
 '71.Braveheart(1995)',
 '72.Idi i smotri(1985)',
 '73.Aliens(1986)',
 '74.Amadeus(1984)',
 '75.Raiders of the Lost Ark(1981)',
 '76.Das Boot(1981)',
 '77.The Shining(1980)',
 '78.Tengoku to jigoku(1963)',
 '79.Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb(1964)',
 '80.Witness for the Prosecution(1957)',
 '81.Paths of Glory(1957)',
 '82.Sunset Blvd.(1950)',
 '83.The Great Dictator(1940)',
 '84.Jagten(2012)',
 '85.Toy Story 3(2010)',
 '86.Inglourious Basterds(2009)',
 '87.Eternal Sunshine of the Spotless Mind(2004)',
 '88.Requiem for a Dream(2000)',
 '89.Good Will Hunting(1997)',
 '90.Toy Story(1995)',
 '91.Reservoir Dogs(1992)',
 '92.Once Upon a Time in America(1984)',
 '93.Star Wars: Episode VI - Return of the Jedi(1983)',
 '94.2001: A Space Odyssey(1968)',
 '95.Lawrence of Arabia(1962)',
 '96.North by Northwest(1959)',
 '97.Vertigo(1958)',
 "98.Singin' in the Rain(1952)",
 '99.Citizen Kane(1941)',
 '100.M - Eine Stadt sucht einen Mörder(1931)']

In [28]:
for i in soup_2_.find_all('div',class_="inline-block ratings-imdb-rating"):
    ratings.append(i.text)
ratings

['\n\n9.3\n',
 '\n\n9.2\n',
 '\n\n9.0\n',
 '\n\n9.0\n',
 '\n\n9.0\n',
 '\n\n9.0\n',
 '\n\n9.0\n',
 '\n\n8.9\n',
 '\n\n8.8\n',
 '\n\n8.8\n',
 '\n\n8.8\n',
 '\n\n8.8\n',
 '\n\n8.8\n',
 '\n\n8.8\n',
 '\n\n8.7\n',
 '\n\n8.7\n',
 '\n\n8.7\n',
 '\n\n8.7\n',
 '\n\n8.6\n',
 '\n\n8.6\n',
 '\n\n8.6\n',
 '\n\n8.6\n',
 '\n\n8.6\n',
 '\n\n8.6\n',
 '\n\n8.6\n',
 '\n\n8.6\n',
 '\n\n8.6\n',
 '\n\n8.6\n',
 '\n\n8.6\n',
 '\n\n8.6\n',
 '\n\n8.6\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.5\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.4\n',
 '\n\n8.3\n',
 '\n\n8.3\n',
 '\n\n8.3\n',
 '\n\n8.3\n',
 '\n\n8.3\n',
 '\n\n8.3\n',
 '\n\n8.3\n',
 '\n\n8.3\n',
 '\n\n8.3\n',
 '\n\n8.3\n',
 '\n\n8.3\n',
 '\n\n8.3\n',
 '\n\n8.3\n',
 '\n\n8.3\n',
 '\n\n8.3\n',
 '\n\n8.3\n',
 '\n\n8.3\n']

In [29]:
len(ratings)

100

In [30]:
#replacing \n with blank
ratingss=[i.replace('\n','')for i in ratings]
ratingss

['9.3',
 '9.2',
 '9.0',
 '9.0',
 '9.0',
 '9.0',
 '9.0',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3']

In [31]:
for i in soup_2_.find_all('span',class_="lister-item-year text-muted unbold"):
    year.append(i.text)
year

['(1994)',
 '(1972)',
 '(2008)',
 '(2003)',
 '(1993)',
 '(1974)',
 '(1957)',
 '(1994)',
 '(2010)',
 '(2002)',
 '(1999)',
 '(2001)',
 '(1994)',
 '(1966)',
 '(1999)',
 '(1990)',
 '(1980)',
 '(1975)',
 '(2014)',
 '(2002)',
 '(2001)',
 '(1998)',
 '(1999)',
 '(1997)',
 '(1995)',
 '(1991)',
 '(1991)',
 '(1977)',
 '(1962)',
 '(1954)',
 '(1946)',
 '(2019)',
 '(2014)',
 '(2011)',
 '(2006)',
 '(2006)',
 '(2002)',
 '(2000)',
 '(1998)',
 '(1995)',
 '(1994)',
 '(1994)',
 '(1988)',
 '(1988)',
 '(1985)',
 '(1979)',
 '(1979)',
 '(1968)',
 '(1960)',
 '(1954)',
 '(1942)',
 '(1936)',
 '(1931)',
 '(2018)',
 '(I) (2019)',
 '(2016)',
 '(2018)',
 '(2019)',
 '(2018)',
 '(I) (2017)',
 '(2012)',
 '(2022)',
 '(2012)',
 '(2009)',
 '(2008)',
 '(2006)',
 '(2003)',
 '(2000)',
 '(1999)',
 '(1997)',
 '(1995)',
 '(1985)',
 '(1986)',
 '(1984)',
 '(1981)',
 '(1981)',
 '(1980)',
 '(1963)',
 '(1964)',
 '(1957)',
 '(1957)',
 '(1950)',
 '(1940)',
 '(2012)',
 '(2010)',
 '(2009)',
 '(2004)',
 '(2000)',
 '(1997)',
 '(1995)',
 '(1992)',
 '(1984)',
 '(1983)',
 '(1968)',
 '(1962)',
 '(1959)',
 '(1958)',
 '(1952)',
 '(1941)',
 '(1931)']

In [32]:
len(year)

100

In [ ]:
#Generating the dataframe

In [33]:
df2=pd.DataFrame({'Movie Name':moviess,'IMDB Rating':ratingss,'Release Year':year})
print("IMDB Top 100 Movies")
df2

IMDB Top 100 Movies

                                           Movie Name IMDB Rating Release Year
0                    1.The Shawshank Redemption(1994)         9.3       (1994)
1                               2.The Godfather(1972)         9.2       (1972)
2                             3.The Dark Knight(2008)         9.0       (2008)
3   4.The Lord of the Rings: The Return of the Kin...         9.0       (2003)
4                            5.Schindler's List(1993)         9.0       (1993)
..                                                ...         ...          ...
95                        96.North by Northwest(1959)         8.3       (1959)
96                                   97.Vertigo(1958)         8.3       (1958)
97                       98.Singin' in the Rain(1952)         8.3       (1952)
98                              99.Citizen Kane(1941)         8.3       (1941)
99        100.M - Eine Stadt sucht einen Mörder(1931)         8.3       (1931)

[100 rows x 3 columns]

In [34]:
df2.head()

                                          Movie Name IMDB Rating Release Year
0                   1.The Shawshank Redemption(1994)         9.3       (1994)
1                              2.The Godfather(1972)         9.2       (1972)
2                            3.The Dark Knight(2008)         9.0       (2008)
3  4.The Lord of the Rings: The Return of the Kin...         9.0       (2003)
4                           5.Schindler's List(1993)         9.0       (1993)

In [35]:
df2.tail()

                                     Movie Name IMDB Rating Release Year
95                  96.North by Northwest(1959)         8.3       (1959)
96                             97.Vertigo(1958)         8.3       (1958)
97                 98.Singin' in the Rain(1952)         8.3       (1952)
98                        99.Citizen Kane(1941)         8.3       (1941)
99  100.M - Eine Stadt sucht einen Mörder(1931)         8.3       (1931)

# Program3

In [ ]:
#Requesting the desired web page

In [36]:
page3=requests.get("https://www.imdb.com/list/ls561664100/?sort=user_rating,desc&st_dt=&mode=detail&page=1")
page3

In [37]:
soup_3=BeautifulSoup(page3.content)

In [ ]:
#Scrapping movie, rating and year details

In [38]:
movies3=[]
for i in soup_3.find_all('h3',class_="lister-item-header"):
    movies3.append(i.text)
movies3

['\n1.\n3 Idiots\n(2009)\n',
 '\n2.\nTaare Zameen Par\n(2007)\n',
 '\n3.\nSardar Udham\n(2021)\n',
 '\n4.\nBlack Friday\n(2004)\n',
 '\n5.\nDangal\n(2016)\n',
 '\n6.\nKhosla Ka Ghosla!\n(2006)\n',
 '\n7.\nDrishyam\n(2015)\n',
 '\n8.\nTumbbad\n(2018)\n',
 '\n9.\nAndhadhun\n(2018)\n',
 '\n10.\nGangs of Wasseypur\n(2012)\n',
 '\n11.\nZindagi Na Milegi Dobara\n(2011)\n',
 '\n12.\nSwades: We, the People\n(2004)\n',
 '\n13.\nBhaag Milkha Bhaag\n(2013)\n',
 '\n14.\nShahid\n(2012)\n',
 '\n15.\nPaan Singh Tomar\n(2012)\n',
 '\n16.\n1971\n(2007)\n',
 '\n17.\nA Wednesday\n(2008)\n',
 '\n18.\nPK\n(2014)\n',
 '\n19.\nArticle 15\n(2019)\n',
 '\n20.\nBajrangi Bhaijaan\n(2015)\n',
 '\n21.\nLagaan: Once Upon a Time in India\n(2001)\n',
 '\n22.\nPink\n(III) (2016)\n',
 '\n23.\nDil Chahta Hai\n(2001)\n',
 '\n24.\nTalvar\n(2015)\n',
 '\n25.\nMunna Bhai M.B.B.S.\n(2003)\n',
 '\n26.\nKahaani\n(2012)\n',
 '\n27.\nChak De! India\n(2007)\n',
 '\n28.\nQueen\n(2013)\n',
 '\n29.\nRang De Basanti\n(2006)\n',
 '\n30.\nBarfi!\n(2012)\n',
 '\n31.\nMasaan\n(2015)\n',
 '\n32.\nOmkara\n(2006)\n',
 '\n33.\nHera Pheri\n(2000)\n',
 '\n34.\nBlack\n(2005)\n',
 '\n35.\nUdaan\n(2010)\n',
 '\n36.\nIqbal\n(2005)\n',
 '\n37.\nHaider\n(2014)\n',
 '\n38.\nMaqbool\n(2003)\n',
 '\n39.\nShip of Theseus\n(2012)\n',
 '\n40.\nMukkabaaz\n(2017)\n',
 '\n41.\nGulaal\n(2009)\n',
 '\n42.\nCompany\n(2002)\n',
 '\n43.\nDor\n(2006)\n',
 '\n44.\nKadvi Hawa\n(2017)\n',
 '\n45.\nMy Name Is Khan\n(2010)\n',
 '\n46.\nKal Ho Naa Ho\n(2003)\n',
 '\n47.\nGully Boy\n(2019)\n',
 '\n48.\nJab We Met\n(2007)\n',
 '\n49.\nDev.D\n(2009)\n',
 '\n50.\nUgly\n(2013)\n',
 '\n51.\nJohnny Gaddaar\n(2007)\n',
 '\n52.\nAnkhon Dekhi\n(2013)\n',
 '\n53.\nSonchiriya\n(2019)\n',
 '\n54.\nHazaaron Khwaishein Aisi\n(2003)\n',
 '\n55.\nThe Lunchbox\n(2013)\n',
 '\n56.\nVeer-Zaara\n(2004)\n',
 '\n57.\nKai po che!\n(2013)\n',
 '\n58.\nEnglish Vinglish\n(2012)\n',
 '\n59.\nAb Tak Chhappan\n(2004)\n',
 '\n60.\nStanley Ka Dabba\n(2011)\n',
 '\n61.\nDasvidaniya\n(2008)\n',
 '\n62.\nAligarh\n(2015)\n',
 '\n63.\nRockstar\n(2011)\n',
 '\n64.\nRaazi\n(2018)\n',
 '\n65.\nSir\n(I) (2018)\n',
 '\n66.\nKapoor & Sons\n(2016)\n',
 '\n67.\nUdta Punjab\n(2016)\n',
 '\n68.\nWater\n(I) (2005)\n',
 '\n69.\nRaincoat\n(2004)\n',
 '\n70.\nOye Lucky! Lucky Oye!\n(2008)\n',
 '\n71.\nTu Hai Mera Sunday\n(2016)\n',
 '\n72.\nWake Up Sid\n(2009)\n',
 '\n73.\nHighway\n(I) (2014)\n',
 '\n74.\nThe Sky Is Pink\n(2019)\n',
 '\n75.\nPiku\n(2015)\n',
 '\n76.\nNewton\n(2017)\n',
 '\n77.\nChandni Bar\n(2001)\n',
 '\n78.\nDevdas\n(I) (2002)\n',
 '\n79.\nDelhi Belly\n(2011)\n',
 '\n80.\nTrapped\n(XVII) (2016)\n',
 '\n81.\nOctober\n(II) (2018)\n',
 '\n82.\nParched\n(2015)\n',
 '\n83.\nTitli\n(2014)\n',
 '\n84.\nKabhi Khushi Kabhie Gham...\n(2001)\n',
 '\n85.\nJhund\n(2022)\n',
 '\n86.\nA Death in the Gunj\n(2016)\n',
 '\n87.\nLootera\n(I) (2013)\n',
 '\n88.\nPeepli [Live]\n(2010)\n',
 '\n89.\nNo Smoking\n(2007)\n',
 '\n90.\nMonsoon Wedding\n(2001)\n',
 '\n91.\nManto\n(2018)\n',
 '\n92.\nFiraaq\n(2008)\n',
 '\n93.\nLSD: Love, Sex Aur Dhokha\n(2010)\n',
 '\n94.\nEeb Allay Ooo!\n(2019)\n',
 '\n95.\nGangubai Kathiawadi\n(2022)\n',
 '\n96.\nBadhaai Do\n(2022)\n',
 '\n97.\nThappad\n(2020)\n',
 '\n98.\nRK/RKAY\n(2021)\n',
 '\n99.\nMukti Bhawan\n(2016)\n',
 '\n100.\nOm Shanti Om\n(2007)\n']

In [126]:
len(movies3)

100

In [47]:
#Replacing \n with blank
movies3u=[i.replace('\n','')for i in movies3]
movies3u

['1.3 Idiots(2009)',
 '2.Taare Zameen Par(2007)',
 '3.Sardar Udham(2021)',
 '4.Black Friday(2004)',
 '5.Dangal(2016)',
 '6.Khosla Ka Ghosla!(2006)',
 '7.Drishyam(2015)',
 '8.Tumbbad(2018)',
 '9.Andhadhun(2018)',
 '10.Gangs of Wasseypur(2012)',
 '11.Zindagi Na Milegi Dobara(2011)',
 '12.Swades: We, the People(2004)',
 '13.Bhaag Milkha Bhaag(2013)',
 '14.Shahid(2012)',
 '15.Paan Singh Tomar(2012)',
 '16.1971(2007)',
 '17.A Wednesday(2008)',
 '18.PK(2014)',
 '19.Article 15(2019)',
 '20.Bajrangi Bhaijaan(2015)',
 '21.Lagaan: Once Upon a Time in India(2001)',
 '22.Pink(III) (2016)',
 '23.Dil Chahta Hai(2001)',
 '24.Talvar(2015)',
 '25.Munna Bhai M.B.B.S.(2003)',
 '26.Kahaani(2012)',
 '27.Chak De! India(2007)',
 '28.Queen(2013)',
 '29.Rang De Basanti(2006)',
 '30.Barfi!(2012)',
 '31.Masaan(2015)',
 '32.Omkara(2006)',
 '33.Hera Pheri(2000)',
 '34.Black(2005)',
 '35.Udaan(2010)',
 '36.Iqbal(2005)',
 '37.Haider(2014)',
 '38.Maqbool(2003)',
 '39.Ship of Theseus(2012)',
 '40.Mukkabaaz(2017)',
 '41.Gulaal(2009)',
 '42.Company(2002)',
 '43.Dor(2006)',
 '44.Kadvi Hawa(2017)',
 '45.My Name Is Khan(2010)',
 '46.Kal Ho Naa Ho(2003)',
 '47.Gully Boy(2019)',
 '48.Jab We Met(2007)',
 '49.Dev.D(2009)',
 '50.Ugly(2013)',
 '51.Johnny Gaddaar(2007)',
 '52.Ankhon Dekhi(2013)',
 '53.Sonchiriya(2019)',
 '54.Hazaaron Khwaishein Aisi(2003)',
 '55.The Lunchbox(2013)',
 '56.Veer-Zaara(2004)',
 '57.Kai po che!(2013)',
 '58.English Vinglish(2012)',
 '59.Ab Tak Chhappan(2004)',
 '60.Stanley Ka Dabba(2011)',
 '61.Dasvidaniya(2008)',
 '62.Aligarh(2015)',
 '63.Rockstar(2011)',
 '64.Raazi(2018)',
 '65.Sir(I) (2018)',
 '66.Kapoor & Sons(2016)',
 '67.Udta Punjab(2016)',
 '68.Water(I) (2005)',
 '69.Raincoat(2004)',
 '70.Oye Lucky! Lucky Oye!(2008)',
 '71.Tu Hai Mera Sunday(2016)',
 '72.Wake Up Sid(2009)',
 '73.Highway(I) (2014)',
 '74.The Sky Is Pink(2019)',
 '75.Piku(2015)',
 '76.Newton(2017)',
 '77.Chandni Bar(2001)',
 '78.Devdas(I) (2002)',
 '79.Delhi Belly(2011)',
 '80.Trapped(XVII) (2016)',
 '81.October(II) (2018)',
 '82.Parched(2015)',
 '83.Titli(2014)',
 '84.Kabhi Khushi Kabhie Gham...(2001)',
 '85.Jhund(2022)',
 '86.A Death in the Gunj(2016)',
 '87.Lootera(I) (2013)',
 '88.Peepli [Live](2010)',
 '89.No Smoking(2007)',
 '90.Monsoon Wedding(2001)',
 '91.Manto(2018)',
 '92.Firaaq(2008)',
 '93.LSD: Love, Sex Aur Dhokha(2010)',
 '94.Eeb Allay Ooo!(2019)',
 '95.Gangubai Kathiawadi(2022)',
 '96.Badhaai Do(2022)',
 '97.Thappad(2020)',
 '98.RK/RKAY(2021)',
 '99.Mukti Bhawan(2016)',
 '100.Om Shanti Om(2007)']

In [41]:
ratings3=[]
for i in soup_3.find_all('div',class_="ipl-rating-star small"):
    ratings3.append(i.text)
ratings3

['\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.2\n',
 '\n\n\n\n\n\n\n\n8.2\n',
 '\n\n\n\n\n\n\n\n8.2\n',
 '\n\n\n\n\n\n\n\n8.2\n',
 '\n\n\n\n\n\n\n\n8.2\n',
 '\n\n\n\n\n\n\n\n8.2\n',
 '\n\n\n\n\n\n\n\n8.2\n',
 '\n\n\n\n\n\n\n\n8.2\n',
 '\n\n\n\n\n\n\n\n8.2\n',
 '\n\n\n\n\n\n\n\n8.2\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8\n',
 '\n\n\n\n\n\n\n\n8\n',
 '\n\n\n\n\n\n\n\n8\n',
 '\n\n\n\n\n\n\n\n8\n',
 '\n\n\n\n\n\n\n\n8\n',
 '\n\n\n\n\n\n\n\n8\n',
 '\n\n\n\n\n\n\n\n8\n',
 '\n\n\n\n\n\n\n\n8\n',
 '\n\n\n\n\n\n\n\n7.9\n',
 '\n\n\n\n\n\n\n\n7.9\n',
 '\n\n\n\n\n\n\n\n7.9\n',
 '\n\n\n\n\n\n\n\n7.9\n',
 '\n\n\n\n\n\n\n\n7.9\n',
 '\n\n\n\n\n\n\n\n7.9\n',
 '\n\n\n\n\n\n\n\n7.9\n',
 '\n\n\n\n\n\n\n\n7.9\n',
 '\n\n\n\n\n\n\n\n7.9\n',
 '\n\n\n\n\n\n\n\n7.9\n',
 '\n\n\n\n\n\n\n\n7.8\n',
 '\n\n\n\n\n\n\n\n7.8\n',
 '\n\n\n\n\n\n\n\n7.8\n',
 '\n\n\n\n\n\n\n\n7.8\n',
 '\n\n\n\n\n\n\n\n7.8\n',
 '\n\n\n\n\n\n\n\n7.8\n',
 '\n\n\n\n\n\n\n\n7.8\n',
 '\n\n\n\n\n\n\n\n7.8\n',
 '\n\n\n\n\n\n\n\n7.7\n',
 '\n\n\n\n\n\n\n\n7.7\n',
 '\n\n\n\n\n\n\n\n7.7\n',
 '\n\n\n\n\n\n\n\n7.7\n',
 '\n\n\n\n\n\n\n\n7.7\n',
 '\n\n\n\n\n\n\n\n7.7\n',
 '\n\n\n\n\n\n\n\n7.7\n',
 '\n\n\n\n\n\n\n\n7.7\n',
 '\n\n\n\n\n\n\n\n7.7\n',
 '\n\n\n\n\n\n\n\n7.6\n',
 '\n\n\n\n\n\n\n\n7.6\n',
 '\n\n\n\n\n\n\n\n7.6\n',
 '\n\n\n\n\n\n\n\n7.6\n',
 '\n\n\n\n\n\n\n\n7.6\n',
 '\n\n\n\n\n\n\n\n7.6\n',
 '\n\n\n\n\n\n\n\n7.5\n',
 '\n\n\n\n\n\n\n\n7.5\n',
 '\n\n\n\n\n\n\n\n7.5\n',
 '\n\n\n\n\n\n\n\n7.5\n',
 '\n\n\n\n\n\n\n\n7.5\n',
 '\n\n\n\n\n\n\n\n7.5\n',
 '\n\n\n\n\n\n\n\n7.4\n',
 '\n\n\n\n\n\n\n\n7.4\n',
 '\n\n\n\n\n\n\n\n7.4\n',
 '\n\n\n\n\n\n\n\n7.4\n',
 '\n\n\n\n\n\n\n\n7.4\n',
 '\n\n\n\n\n\n\n\n7.3\n',
 '\n\n\n\n\n\n\n\n7.3\n',
 '\n\n\n\n\n\n\n\n7.3\n',
 '\n\n\n\n\n\n\n\n7.3\n',
 '\n\n\n\n\n\n\n\n7.2\n',
 '\n\n\n\n\n\n\n\n7.2\n',
 '\n\n\n\n\n\n\n\n7\n',
 '\n\n\n\n\n\n\n\n7\n',
 '\n\n\n\n\n\n\n\n7\n',
 '\n\n\n\n\n\n\n\n7\n',
 '\n\n\n\n\n\n\n\n7\n',
 '\n\n\n\n\n\n\n\n6.7\n']

In [42]:
len(ratings3)

100

In [43]:
rating3u=[i.replace('\n','')for i in ratings3]
rating3u

['8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8',
 '8',
 '8',
 '8',
 '8',
 '8',
 '8',
 '8',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.5',
 '7.5',
 '7.5',
 '7.5',
 '7.5',
 '7.5',
 '7.4',
 '7.4',
 '7.4',
 '7.4',
 '7.4',
 '7.3',
 '7.3',
 '7.3',
 '7.3',
 '7.2',
 '7.2',
 '7',
 '7',
 '7',
 '7',
 '7',
 '6.7']

In [44]:
year3=[]
for i in soup_3.find_all('span',class_="lister-item-year text-muted unbold"):
    year3.append(i.text)
year3

['(2009)',
 '(2007)',
 '(2021)',
 '(2004)',
 '(2016)',
 '(2006)',
 '(2015)',
 '(2018)',
 '(2018)',
 '(2012)',
 '(2011)',
 '(2004)',
 '(2013)',
 '(2012)',
 '(2012)',
 '(2007)',
 '(2008)',
 '(2014)',
 '(2019)',
 '(2015)',
 '(2001)',
 '(III) (2016)',
 '(2001)',
 '(2015)',
 '(2003)',
 '(2012)',
 '(2007)',
 '(2013)',
 '(2006)',
 '(2012)',
 '(2015)',
 '(2006)',
 '(2000)',
 '(2005)',
 '(2010)',
 '(2005)',
 '(2014)',
 '(2003)',
 '(2012)',
 '(2017)',
 '(2009)',
 '(2002)',
 '(2006)',
 '(2017)',
 '(2010)',
 '(2003)',
 '(2019)',
 '(2007)',
 '(2009)',
 '(2013)',
 '(2007)',
 '(2013)',
 '(2019)',
 '(2003)',
 '(2013)',
 '(2004)',
 '(2013)',
 '(2012)',
 '(2004)',
 '(2011)',
 '(2008)',
 '(2015)',
 '(2011)',
 '(2018)',
 '(I) (2018)',
 '(2016)',
 '(2016)',
 '(I) (2005)',
 '(2004)',
 '(2008)',
 '(2016)',
 '(2009)',
 '(I) (2014)',
 '(2019)',
 '(2015)',
 '(2017)',
 '(2001)',
 '(I) (2002)',
 '(2011)',
 '(XVII) (2016)',
 '(II) (2018)',
 '(2015)',
 '(2014)',
 '(2001)',
 '(2022)',
 '(2016)',
 '(I) (2013)',
 '(2010)',
 '(2007)',
 '(2001)',
 '(2018)',
 '(2008)',
 '(2010)',
 '(2019)',
 '(2022)',
 '(2022)',
 '(2020)',
 '(2021)',
 '(2016)',
 '(2007)']

In [45]:
len(year3)

100

In [48]:
#Generating data frame
df3=pd.DataFrame({'MovieName':movies3u,'IMDB Rating':rating3u,'Release Year':year3})
print("IMDB top 100 Indian Movies")
df3

IMDB top 100 Indian Movies

                   MovieName IMDB Rating Release Year
0           1.3 Idiots(2009)         8.4       (2009)
1   2.Taare Zameen Par(2007)         8.4       (2007)
2       3.Sardar Udham(2021)         8.4       (2021)
3       4.Black Friday(2004)         8.4       (2004)
4             5.Dangal(2016)         8.3       (2016)
..                       ...         ...          ...
95       96.Badhaai Do(2022)           7       (2022)
96          97.Thappad(2020)           7       (2020)
97          98.RK/RKAY(2021)           7       (2021)
98     99.Mukti Bhawan(2016)           7       (2016)
99    100.Om Shanti Om(2007)         6.7       (2007)

[100 rows x 3 columns]

In [49]:
df3.head()

                  MovieName IMDB Rating Release Year
0          1.3 Idiots(2009)         8.4       (2009)
1  2.Taare Zameen Par(2007)         8.4       (2007)
2      3.Sardar Udham(2021)         8.4       (2021)
3      4.Black Friday(2004)         8.4       (2004)
4            5.Dangal(2016)         8.3       (2016)

In [50]:
df3.tail()

                 MovieName IMDB Rating Release Year
95     96.Badhaai Do(2022)           7       (2022)
96        97.Thappad(2020)           7       (2020)
97        98.RK/RKAY(2021)           7       (2021)
98   99.Mukti Bhawan(2016)           7       (2016)
99  100.Om Shanti Om(2007)         6.7       (2007)

# Program4

In [51]:
#requesting source page
page4=requests.get("https://presidentofindia.nic.in/former-presidents.htm")
page4

In [52]:
soup4=BeautifulSoup(page4.content)

In [53]:
name4=[]
for i in soup4.find_all('h3'):
    name4.append(i.text)
name4

['Shri Ram Nath Kovind (birth - 1945)',
 'Shri Pranab Mukherjee (1935-2020)',
 'Smt Pratibha Devisingh Patil (birth - 1934)',
 'DR. A.P.J. Abdul Kalam (1931-2015)',
 'Shri K. R. Narayanan (1920 - 2005)',
 'Dr Shankar Dayal Sharma (1918-1999)',
 'Shri R Venkataraman (1910-2009)',
 'Giani Zail Singh (1916-1994)',
 'Shri Neelam Sanjiva Reddy (1913-1996)',
 'Dr. Fakhruddin Ali Ahmed (1905-1977)',
 'Shri Varahagiri Venkata Giri (1894-1980)',
 'Dr. Zakir Husain (1897-1969)',
 'Dr. Sarvepalli Radhakrishnan (1888-1975)',
 'Dr. Rajendra Prasad (1884-1963) ']

In [54]:
term=[]
for i in soup4.find_all('p'):
    term.append(i.text)
term

['Term of Office: 25 July, 2017 to 25 July, 2022 ',
 'https://ramnathkovind.nic.in',
 'Term of Office: 25 July, 2012 to 25 July, 2017 ',
 'http://pranabmukherjee.nic.in',
 'Term of Office: 25 July, 2007 to 25 July, 2012 ',
 'http://pratibhapatil.nic.in',
 'Term of Office: 25 July, 2002 to 25 July, 2007 ',
 'http://abdulkalam.nic.in',
 'Term of Office: 25 July, 1997 to 25 July, 2002 ',
 'Term of Office: 25 July, 1992 to 25 July, 1997 ',
 'Term of Office: 25 July, 1987 to 25 July, 1992 ',
 'Term of Office: 25 July, 1982 to 25 July, 1987 ',
 'Term of Office: 25 July, 1977 to 25 July, 1982 ',
 'Term of Office: 24 August, 1974 to 11 February, 1977',
 'Term of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 'Term of Office: 13 May, 1967 to 3 May, 1969',
 'Term of Office: 13 May, 1962 to 13 May, 1967',
 'Term of Office: 26 January, 1950 to 13 May, 1962',
 'Copyright © 2022 The Rashtrapati Bhavan.',
 'Page last updated on: 22-July-2022 15:58 PM\n',
 "\r\n Website hosted by National Informatics Centre. Website Content provided by the President's Secretariat."]

In [ ]:
#The data generated has multiple piece of information
#Trying to filter only term period

In [55]:
#first removing the string'term of office'
termu=[i.replace('Term of Office:','')for i in term]
termu

[' 25 July, 2017 to 25 July, 2022 ',
 'https://ramnathkovind.nic.in',
 ' 25 July, 2012 to 25 July, 2017 ',
 'http://pranabmukherjee.nic.in',
 ' 25 July, 2007 to 25 July, 2012 ',
 'http://pratibhapatil.nic.in',
 ' 25 July, 2002 to 25 July, 2007 ',
 'http://abdulkalam.nic.in',
 ' 25 July, 1997 to 25 July, 2002 ',
 ' 25 July, 1992 to 25 July, 1997 ',
 ' 25 July, 1987 to 25 July, 1992 ',
 ' 25 July, 1982 to 25 July, 1987 ',
 ' 25 July, 1977 to 25 July, 1982 ',
 ' 24 August, 1974 to 11 February, 1977',
 ' 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 ' 13 May, 1967 to 3 May, 1969',
 ' 13 May, 1962 to 13 May, 1967',
 ' 26 January, 1950 to 13 May, 1962',
 'Copyright © 2022 The Rashtrapati Bhavan.',
 'Page last updated on: 22-July-2022 15:58 PM\n',
 "\r\n Website hosted by National Informatics Centre. Website Content provided by the President's Secretariat."]

In [56]:
#Since again https is present in few values of data, applying splitlines() to seperate the lines
termup=[i.splitlines(True) for i in termu]
termup

[[' 25 July, 2017 to 25 July, 2022 '],
 ['https://ramnathkovind.nic.in'],
 [' 25 July, 2012 to 25 July, 2017 '],
 ['http://pranabmukherjee.nic.in'],
 [' 25 July, 2007 to 25 July, 2012 '],
 ['http://pratibhapatil.nic.in'],
 [' 25 July, 2002 to 25 July, 2007 '],
 ['http://abdulkalam.nic.in'],
 [' 25 July, 1997 to 25 July, 2002 '],
 [' 25 July, 1992 to 25 July, 1997 '],
 [' 25 July, 1987 to 25 July, 1992 '],
 [' 25 July, 1982 to 25 July, 1987 '],
 [' 25 July, 1977 to 25 July, 1982 '],
 [' 24 August, 1974 to 11 February, 1977'],
 [' 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974'],
 [' 13 May, 1967 to 3 May, 1969'],
 [' 13 May, 1962 to 13 May, 1967'],
 [' 26 January, 1950 to 13 May, 1962'],
 ['Copyright © 2022 The Rashtrapati Bhavan.'],
 ['Page last updated on: 22-July-2022 15:58 PM\n'],
 ['\r\n',
  " Website hosted by National Informatics Centre. Website Content provided by the President's Secretariat."]]

In [57]:
#with the help of list indexing, filtering only the 0th index data
for i in [0,2,4,6,8,9,10,11,12,13,14,15,16,17]:
    termupp=termup[i][0]
    print(termupp)

 25 July, 2017 to 25 July, 2022
 25 July, 2012 to 25 July, 2017
 25 July, 2007 to 25 July, 2012
 25 July, 2002 to 25 July, 2007
 25 July, 1997 to 25 July, 2002
 25 July, 1992 to 25 July, 1997
 25 July, 1987 to 25 July, 1992
 25 July, 1982 to 25 July, 1987
 25 July, 1977 to 25 July, 1982
 24 August, 1974 to 11 February, 1977
 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974
 13 May, 1967 to 3 May, 1969
 13 May, 1962 to 13 May, 1967
 26 January, 1950 to 13 May, 1962

In [58]:
#Creating DataFrame
df4=pd.DataFrame({'Name of President':name4,'Term of Office':termupp})
print("Former Presidents of India")
df4

Former Presidents of India

,Name of President,Term of Office
0,Shri Ram Nath Kovind (birth - 1945),"26 January, 1950 to 13 May, 1962"
1,Shri Pranab Mukherjee (1935-2020),"26 January, 1950 to 13 May, 1962"
2,Smt Pratibha Devisingh Patil (birth - 1934),"26 January, 1950 to 13 May, 1962"
3,DR. A.P.J. Abdul Kalam (1931-2015),"26 January, 1950 to 13 May, 1962"
4,Shri K. R. Narayanan (1920 - 2005),"26 January, 1950 to 13 May, 1962"
5,Dr Shankar Dayal Sharma (1918-1999),"26 January, 1950 to 13 May, 1962"
6,Shri R Venkataraman (1910-2009),"26 January, 1950 to 13 May, 1962"
7,Giani Zail Singh (1916-1994),"26 January, 1950 to 13 May, 1962"
8,Shri Neelam Sanjiva Reddy (1913-1996),"26 January, 1950 to 13 May, 1962"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"26 January, 1950 to 13 May, 1962"
10,Shri Varahagiri Venkata Giri (1894-1980),"26 January, 1950 to 13 May, 1962"
11,Dr. Zakir Husain (1897-1969),"26 January, 1950 to 13 May, 1962"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"26 January, 1950 to 13 May, 1962"
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

# Program5

In [59]:
#requesting the desired webpage
page5=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
page5

In [60]:
soup5=BeautifulSoup(page5.content)

In [ ]:
#1.Teams

In [61]:
team=[]
for i in soup5.find_all('span',class_="u-hide-phablet"):
    team.append(i.text)
team

['New Zealand',
 'England',
 'Australia',
 'India',
 'Pakistan',
 'South Africa',
 'Bangladesh',
 'Sri Lanka',
 'Afghanistan',
 'West Indies',
 'Ireland',
 'Scotland',
 'Zimbabwe',
 'Namibia',
 'Netherlands',
 'Oman',
 'UAE',
 'United States',
 'Nepal',
 'Papua New Guinea']

In [62]:
import warnings
warnings.filterwarnings('ignore')

In [63]:
#for 1st rank holder the class is diff from rest teams so scarpping details seperately
matches_count=[]
for i in soup5.find_all('td',class_=["rankings-block__banner--matches"]):
    matches_count.append(i.text.splitlines())
matches_count

[['23']]

In [64]:
#We also found that the class for points and count is same, so merging them together
team_m_pt=matches_count
for i in soup5.find_all('td',class_="rankings-block__banner--points"):
    team_m_pt.append(i.text.splitlines())
team_m_pt

[['23'], ['2,670']]

In [65]:
#Appending remaining rows
match_c_p=team_m_pt
for i in soup5.find_all('td',class_=["table-body__cell u-center-text"]):
    match_c_p.append(i.text.splitlines())#Again, for match-count and points the web page has same tag and class so it has provided 2 values
match_c_p

[['23'],
 ['2,670'],
 ['30'],
 ['3,400'],
 ['32'],
 ['3,572'],
 ['35'],
 ['3,866'],
 ['22'],
 ['2,354'],
 ['24'],
 ['2,392'],
 ['30'],
 ['2,753'],
 ['30'],
 ['2,677'],
 ['19'],
 ['1,380'],
 ['41'],
 ['2,902'],
 ['23'],
 ['1,214'],
 ['27'],
 ['1,254'],
 ['26'],
 ['1,098'],
 ['23'],
 ['808'],
 ['21'],
 ['673'],
 ['30'],
 ['919'],
 ['25'],
 ['693'],
 ['31'],
 ['821'],
 ['25'],
 ['476'],
 ['30'],
 ['128']]

In [66]:
#seperating matches from joint-data
for i in range(0,40,2):
    matchf=match_c_p[i][0]
    print(matchf)

23
30
32
35
22
24
30
30
19
41
23
27
26
23
21
30
25
31
25
30

In [67]:
##seperating points from joint-data
for i in range(1,39,2):
    pointf=match_c_p[i][0]
    print(pointf)

2,670
3,400
3,572
3,866
2,354
2,392
2,753
2,677
1,380
2,902
1,214
1,254
1,098
808
673
919
693
821
476

In [68]:
ratings=[]
for i in soup5.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    ratings.append(i.text.strip())
ratings
rating=[i.replace('\n','')for i in ratings]
rating

['116']

In [69]:
for i in soup5.find_all('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text)
rating

['116',
 '113',
 '112',
 '110',
 '107',
 '100',
 '92',
 '89',
 '73',
 '71',
 '53',
 '46',
 '42',
 '35',
 '32',
 '31',
 '28',
 '26',
 '19',
 '4']

In [70]:
#Generating DataFrame for top 10 ODI men's team
dfcm=pd.DataFrame({'Team':team,'Matches':matchf,'Points':pointf,'Rating':rating})
print("Top 10 ODI men's team")
dfcm.head(10)

Top 10 ODI men's team

           Team Matches Points Rating
0   New Zealand      30    476    116
1       England      30    476    113
2     Australia      30    476    112
3         India      30    476    110
4      Pakistan      30    476    107
5  South Africa      30    476    100
6    Bangladesh      30    476     92
7     Sri Lanka      30    476     89
8   Afghanistan      30    476     73
9   West Indies      30    476     71

In [ ]:
#5.2 Batsman

In [71]:
page5_2=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
page5_2

In [72]:
soup5_2=BeautifulSoup(page5_2.content)

In [80]:
pname2=soup5_2.find('div',class_="rankings-block__banner--name-large")
pname2.text

'Babar Azam'

In [81]:
pname2=['Babar Azam']
for i in soup5_2.find_all('td',class_="table-body__cell rankings-table__name name"):
    pname2.append(i.text)
pname2

['Babar Azam',
 '\nImam-ul-Haq\n',
 '\nRassie van der Dussen\n',
 '\nQuinton de Kock\n',
 '\nDavid Warner\n',
 '\nSteve Smith\n',
 '\nJonny Bairstow\n',
 '\nVirat Kohli\n',
 '\nRohit Sharma\n',
 '\nKane Williamson\n',
 '\nFakhar Zaman\n',
 '\nShai Hope\n',
 '\nTamim Iqbal\n',
 '\nJoe Root\n',
 '\nShikhar Dhawan\n',
 '\nPaul Stirling\n',
 '\nMushfiqur Rahim\n',
 '\nTom Latham\n',
 '\nJason Roy\n',
 '\nMartin Guptill\n',
 '\nDavid Miller\n',
 '\nAlex Carey\n',
 '\nRahmat Shah\n',
 '\nAaron Finch\n',
 '\nGlenn Maxwell\n',
 '\nHarry Tector\n',
 '\nShreyas Iyer\n',
 '\nNicholas Pooran\n',
 '\nLitton Das\n',
 '\nTravis Head\n',
 '\nJos Buttler\n',
 '\nSikandar Raza\n',
 '\nShakib Al Hasan\n',
 '\nShubman Gill\n',
 '\nMahmudullah\n',
 '\nCalum MacLeod\n',
 '\nKariyawasa Asalanka\n',
 '\nKyle Coetzer\n',
 '\nGerhard Erasmus\n',
 '\nLokesh Rahul\n',
 '\nHaris Sohail\n',
 '\nAndrew Balbirnie\n',
 '\nAssad Vala\n',
 '\nMonank Patel\n',
 '\nNajibullah Zadran\n',
 '\nGeorge Munsey\n',
 '\nKusal Mendis\n',
 '\nRahmanullah Gurbaz\n',
 '\nHashmatullah Shaidi\n',
 '\nJanneman Malan\n',
 '\nAqib Ilyas\n',
 '\nAvishka Fernando\n',
 '\nAaron Jones\n',
 '\nSean Williams\n',
 '\nHenry Nicholls\n',
 '\nAiden Markram\n',
 '\nHeinrich Klaasen\n',
 '\nShimron Hetmyer\n',
 '\nKusal Perera\n',
 '\nScott Edwards\n',
 '\nDanushka Gunathilaka\n',
 '\nZeeshan Maqsood\n',
 '\nAngelo Mathews\n',
 '\nJatinder Singh\n',
 '\nMohammad Nabi\n',
 '\nHardik Pandya\n',
 '\nRichard Berrington\n',
 '\nMarnus Labuschagne\n',
 '\nImad Wasim\n',
 '\nVriitya Aravind\n',
 '\nDhananjaya de Silva\n',
 '\nSoumya Sarkar\n',
 '\nRishabh Pant\n',
 '\nTom Cooper\n',
 '\nSteven Taylor\n',
 '\nMarcus Stoinis\n',
 '\nSarfaraz Ahmed\n',
 '\nTemba Bavuma\n',
 '\nEvin Lewis\n',
 '\nMitchell Santner\n',
 '\nJimmy Neesham\n',
 '\nAfif Hossain\n',
 '\nSanju Samson\n',
 '\nNiroshan Dickwella\n',
 '\nMitchell Marsh\n',
 '\nDasun Shanaka\n',
 '\nShamarh Brooks\n',
 '\nMichael Leask\n',
 '\nFinn Allen\n',
 '\nColin de Grandhomme\n',
 '\nAasif Sheikh\n',
 '\nR.K. Paudel\n',
 "\nMax O'Dowd\n",
 '\nCraig Ervine\n',
 '\nPhilip Salt\n',
 '\nMohammad Rizwan\n',
 '\nMatthew Cross\n',
 '\nDawid Malan\n',
 '\nGajanand Singh\n',
 '\nRashid Khan\n']

In [82]:
pnamem=[i.replace('\n','')for i in pname2]
pnamem

['Babar Azam',
 'Imam-ul-Haq',
 'Rassie van der Dussen',
 'Quinton de Kock',
 'David Warner',
 'Steve Smith',
 'Jonny Bairstow',
 'Virat Kohli',
 'Rohit Sharma',
 'Kane Williamson',
 'Fakhar Zaman',
 'Shai Hope',
 'Tamim Iqbal',
 'Joe Root',
 'Shikhar Dhawan',
 'Paul Stirling',
 'Mushfiqur Rahim',
 'Tom Latham',
 'Jason Roy',
 'Martin Guptill',
 'David Miller',
 'Alex Carey',
 'Rahmat Shah',
 'Aaron Finch',
 'Glenn Maxwell',
 'Harry Tector',
 'Shreyas Iyer',
 'Nicholas Pooran',
 'Litton Das',
 'Travis Head',
 'Jos Buttler',
 'Sikandar Raza',
 'Shakib Al Hasan',
 'Shubman Gill',
 'Mahmudullah',
 'Calum MacLeod',
 'Kariyawasa Asalanka',
 'Kyle Coetzer',
 'Gerhard Erasmus',
 'Lokesh Rahul',
 'Haris Sohail',
 'Andrew Balbirnie',
 'Assad Vala',
 'Monank Patel',
 'Najibullah Zadran',
 'George Munsey',
 'Kusal Mendis',
 'Rahmanullah Gurbaz',
 'Hashmatullah Shaidi',
 'Janneman Malan',
 'Aqib Ilyas',
 'Avishka Fernando',
 'Aaron Jones',
 'Sean Williams',
 'Henry Nicholls',
 'Aiden Markram',
 'Heinrich Klaasen',
 'Shimron Hetmyer',
 'Kusal Perera',
 'Scott Edwards',
 'Danushka Gunathilaka',
 'Zeeshan Maqsood',
 'Angelo Mathews',
 'Jatinder Singh',
 'Mohammad Nabi',
 'Hardik Pandya',
 'Richard Berrington',
 'Marnus Labuschagne',
 'Imad Wasim',
 'Vriitya Aravind',
 'Dhananjaya de Silva',
 'Soumya Sarkar',
 'Rishabh Pant',
 'Tom Cooper',
 'Steven Taylor',
 'Marcus Stoinis',
 'Sarfaraz Ahmed',
 'Temba Bavuma',
 'Evin Lewis',
 'Mitchell Santner',
 'Jimmy Neesham',
 'Afif Hossain',
 'Sanju Samson',
 'Niroshan Dickwella',
 'Mitchell Marsh',
 'Dasun Shanaka',
 'Shamarh Brooks',
 'Michael Leask',
 'Finn Allen',
 'Colin de Grandhomme',
 'Aasif Sheikh',
 'R.K. Paudel',
 "Max O'Dowd",
 'Craig Ervine',
 'Philip Salt',
 'Mohammad Rizwan',
 'Matthew Cross',
 'Dawid Malan',
 'Gajanand Singh',
 'Rashid Khan']

In [76]:
team=['PAK']
for i in soup5_2.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)
team

['PAK',
 'PAK',
 'SA',
 'SA',
 'AUS',
 'AUS',
 'ENG',
 'IND',
 'IND',
 'NZ',
 'PAK',
 'WI',
 'BAN',
 'ENG',
 'IND',
 'IRE',
 'BAN',
 'NZ',
 'ENG',
 'NZ',
 'SA',
 'AUS',
 'AFG',
 'AUS',
 'AUS',
 'IRE',
 'IND',
 'WI',
 'BAN',
 'AUS',
 'ENG',
 'ZIM',
 'BAN',
 'IND',
 'BAN',
 'SCO',
 'SL',
 'SCO',
 'NAM',
 'IND',
 'PAK',
 'IRE',
 'PNG',
 'USA',
 'AFG',
 'SCO',
 'SL',
 'AFG',
 'AFG',
 'SA',
 'OMA',
 'SL',
 'USA',
 'ZIM',
 'NZ',
 'SA',
 'SA',
 'WI',
 'SL',
 'NED',
 'SL',
 'OMA',
 'SL',
 'OMA',
 'AFG',
 'IND',
 'SCO',
 'AUS',
 'PAK',
 'UAE',
 'SL',
 'BAN',
 'IND',
 'NED',
 'USA',
 'AUS',
 'PAK',
 'SA',
 'WI',
 'NZ',
 'NZ',
 'BAN',
 'IND',
 'SL',
 'AUS',
 'SL',
 'WI',
 'SCO',
 'NZ',
 'NZ',
 'NEP',
 'NEP',
 'NED',
 'ZIM',
 'ENG',
 'PAK',
 'SCO',
 'ENG',
 'USA',
 'AFG']

In [77]:
rating=soup5_2.find('div',class_="rankings-block__banner--rating")
rating.text

'890'

In [78]:
ratingm=['890']
for i in soup5_2.find_all('td',class_="table-body__cell rating"):
    ratingm.append(i.text)
ratingm

['890',
 '779',
 '766',
 '759',
 '747',
 '719',
 '710',
 '707',
 '704',
 '701',
 '690',
 '679',
 '675',
 '670',
 '666',
 '664',
 '657',
 '654',
 '649',
 '640',
 '639',
 '635',
 '635',
 '635',
 '632',
 '626',
 '624',
 '622',
 '615',
 '610',
 '607',
 '603',
 '601',
 '600',
 '584',
 '581',
 '571',
 '569',
 '555',
 '555',
 '551',
 '550',
 '548',
 '547',
 '542',
 '539',
 '539',
 '536',
 '533',
 '526',
 '524',
 '522',
 '521',
 '520',
 '517',
 '515',
 '512',
 '507',
 '506',
 '504',
 '500',
 '499',
 '497',
 '496',
 '496',
 '494',
 '494',
 '489',
 '488',
 '482',
 '477',
 '476',
 '472',
 '471',
 '468',
 '468',
 '468',
 '468',
 '466',
 '462',
 '462',
 '459',
 '459',
 '456',
 '455',
 '453',
 '452',
 '446',
 '444',
 '444',
 '443',
 '443',
 '443',
 '442',
 '438',
 '438',
 '436',
 '434',
 '433',
 '430']

In [83]:
#generating DataFrame for Batsman
df5ba=pd.DataFrame({'Player':pnamem,'Team':team,'Rating':ratingm})
print("Top 1o ODI Batsman")
df5ba.head(10)

Top 1o ODI Batsman

                  Player Team Rating
0             Babar Azam  PAK    890
1            Imam-ul-Haq  PAK    779
2  Rassie van der Dussen   SA    766
3        Quinton de Kock   SA    759
4           David Warner  AUS    747
5            Steve Smith  AUS    719
6         Jonny Bairstow  ENG    710
7            Virat Kohli  IND    707
8           Rohit Sharma  IND    704
9        Kane Williamson   NZ    701

In [ ]:
#5.3 Bowler

In [84]:
page5_3=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
page5_3

In [85]:
soup5_3=BeautifulSoup(page5_3.content)

In [86]:
playerb=soup5_3.find('div',class_="rankings-block__banner--name-large")
playerb.text

'Trent Boult'

In [87]:
playerb2=['Trent Boult']
for i in soup5_3.find_all('td',class_="table-body__cell rankings-table__name name"):
    playerb2.append(i.text)
playerb2

['Trent Boult',
 '\nJosh Hazlewood\n',
 '\nMitchell Starc\n',
 '\nShaheen Afridi\n',
 '\nMatt Henry\n',
 '\nAdam Zampa\n',
 '\nMehedi Hasan\n',
 '\nMujeeb Ur Rahman\n',
 '\nMustafizur Rahman\n',
 '\nRashid Khan\n',
 '\nChris Woakes\n',
 '\nMohammad Nabi\n',
 '\nAndy McBrine\n',
 '\nJasprit Bumrah\n',
 '\nKagiso Rabada\n',
 '\nShakib Al Hasan\n',
 '\nPat Cummins\n',
 '\nAlzarri Joseph\n',
 '\nMitchell Santner\n',
 '\nLungi Ngidi\n',
 '\nMark Watt\n',
 '\nAkeal Hosein\n',
 '\nYuzvendra Chahal\n',
 '\nDavid Willey\n',
 '\nKeshav Maharaj\n',
 '\nKuldeep Yadav\n',
 '\nWanindu Hasaranga\n',
 '\nSaurabh Netravalkar\n',
 '\nShadab Khan\n',
 '\nTabraiz Shamsi\n',
 '\nAkila Dananjaya\n',
 '\nLachlan Ferguson\n',
 '\nBilal Khan\n',
 '\nTim Southee\n',
 '\nMark Wood\n',
 '\nDushmantha Chameera\n',
 '\nSandeep Lamichhane\n',
 '\nMohammed Siraj\n',
 '\nAhmed Raza\n',
 '\nBhuvneshwar Kumar\n',
 '\nBernard Scholtz\n',
 '\nMohammad Shami\n',
 '\nAdil Rashid\n',
 '\nTaskin Ahmed\n',
 '\nMohammad Nawaz\n',
 '\nSimi Singh\n',
 '\nRohan Mustafa\n',
 '\nHaris Rauf\n',
 '\nZeeshan Maqsood\n',
 '\nHamza Tahir\n',
 '\nShardul Thakur\n',
 '\nDwaine Pretorius\n',
 '\nBlessing Muzarabani\n',
 '\nNosthush Kenjige\n',
 '\nChad Soper\n',
 '\nTaijul Islam\n',
 '\nRavindra Jadeja\n',
 '\nColin de Grandhomme\n',
 '\nJason Holder\n',
 '\nKaleemullah\n',
 '\nDhananjaya de Silva\n',
 '\nCraig Young\n',
 '\nJoshua Little\n',
 '\nImad Wasim\n',
 '\nSheldon Cottrell\n',
 '\nIsh Sodhi\n',
 '\nMaheesh Theekshana\n',
 '\nM. Prasidh Krishna\n',
 '\nAnrich Nortje\n',
 '\nHasan Ali\n',
 '\nSafyaan Sharif\n',
 '\nAndile Phehlukwayo\n',
 '\nReece Topley\n',
 '\nJhye Richardson\n',
 '\nZahoor Khan\n',
 '\nSikandar Raza\n',
 '\nFred Klaassen\n',
 '\nMoeen Ali\n',
 '\nMichael Leask\n',
 '\nMohammad Mohammad Saifuddin\n',
 '\nAssad Vala\n',
 '\nNuwan Pradeep\n',
 '\nTendai Chatara\n',
 '\nSteven Taylor\n',
 '\nAshton Agar\n',
 '\nWahab Riaz\n',
 '\nJeffrey Vandersay\n',
 '\nFaheem Ashraf\n',
 '\nRichard Ngarava\n',
 '\nJan Frylinck\n',
 '\nRuben Trumpelmann\n',
 '\nWayne Parnell\n',
 '\nSompal Kami\n',
 '\nSaqib Mahmood\n',
 '\nGulbadin Naib\n',
 '\nKhawar Ali\n',
 '\nSean Abbott\n',
 '\nAkshar Patel\n',
 '\nMitchell Marsh\n',
 '\nFazalhaq Farooqi\n']

In [88]:
playerbw=[i.replace('\n','')for i in playerb2]
playerbw

['Trent Boult',
 'Josh Hazlewood',
 'Mitchell Starc',
 'Shaheen Afridi',
 'Matt Henry',
 'Adam Zampa',
 'Mehedi Hasan',
 'Mujeeb Ur Rahman',
 'Mustafizur Rahman',
 'Rashid Khan',
 'Chris Woakes',
 'Mohammad Nabi',
 'Andy McBrine',
 'Jasprit Bumrah',
 'Kagiso Rabada',
 'Shakib Al Hasan',
 'Pat Cummins',
 'Alzarri Joseph',
 'Mitchell Santner',
 'Lungi Ngidi',
 'Mark Watt',
 'Akeal Hosein',
 'Yuzvendra Chahal',
 'David Willey',
 'Keshav Maharaj',
 'Kuldeep Yadav',
 'Wanindu Hasaranga',
 'Saurabh Netravalkar',
 'Shadab Khan',
 'Tabraiz Shamsi',
 'Akila Dananjaya',
 'Lachlan Ferguson',
 'Bilal Khan',
 'Tim Southee',
 'Mark Wood',
 'Dushmantha Chameera',
 'Sandeep Lamichhane',
 'Mohammed Siraj',
 'Ahmed Raza',
 'Bhuvneshwar Kumar',
 'Bernard Scholtz',
 'Mohammad Shami',
 'Adil Rashid',
 'Taskin Ahmed',
 'Mohammad Nawaz',
 'Simi Singh',
 'Rohan Mustafa',
 'Haris Rauf',
 'Zeeshan Maqsood',
 'Hamza Tahir',
 'Shardul Thakur',
 'Dwaine Pretorius',
 'Blessing Muzarabani',
 'Nosthush Kenjige',
 'Chad Soper',
 'Taijul Islam',
 'Ravindra Jadeja',
 'Colin de Grandhomme',
 'Jason Holder',
 'Kaleemullah',
 'Dhananjaya de Silva',
 'Craig Young',
 'Joshua Little',
 'Imad Wasim',
 'Sheldon Cottrell',
 'Ish Sodhi',
 'Maheesh Theekshana',
 'M. Prasidh Krishna',
 'Anrich Nortje',
 'Hasan Ali',
 'Safyaan Sharif',
 'Andile Phehlukwayo',
 'Reece Topley',
 'Jhye Richardson',
 'Zahoor Khan',
 'Sikandar Raza',
 'Fred Klaassen',
 'Moeen Ali',
 'Michael Leask',
 'Mohammad Mohammad Saifuddin',
 'Assad Vala',
 'Nuwan Pradeep',
 'Tendai Chatara',
 'Steven Taylor',
 'Ashton Agar',
 'Wahab Riaz',
 'Jeffrey Vandersay',
 'Faheem Ashraf',
 'Richard Ngarava',
 'Jan Frylinck',
 'Ruben Trumpelmann',
 'Wayne Parnell',
 'Sompal Kami',
 'Saqib Mahmood',
 'Gulbadin Naib',
 'Khawar Ali',
 'Sean Abbott',
 'Akshar Patel',
 'Mitchell Marsh',
 'Fazalhaq Farooqi']

In [89]:
teamb=['NZ']
for i in soup5_3.find_all('span',class_="table-body__logo-text"):
    teamb.append(i.text)
teamb

['NZ',
 'AUS',
 'AUS',
 'PAK',
 'NZ',
 'AUS',
 'BAN',
 'AFG',
 'BAN',
 'AFG',
 'ENG',
 'AFG',
 'IRE',
 'IND',
 'SA',
 'BAN',
 'AUS',
 'WI',
 'NZ',
 'SA',
 'SCO',
 'WI',
 'IND',
 'ENG',
 'SA',
 'IND',
 'SL',
 'USA',
 'PAK',
 'SA',
 'SL',
 'NZ',
 'OMA',
 'NZ',
 'ENG',
 'SL',
 'NEP',
 'IND',
 'UAE',
 'IND',
 'NAM',
 'IND',
 'ENG',
 'BAN',
 'PAK',
 'IRE',
 'UAE',
 'PAK',
 'OMA',
 'SCO',
 'IND',
 'SA',
 'ZIM',
 'USA',
 'PNG',
 'BAN',
 'IND',
 'NZ',
 'WI',
 'OMA',
 'SL',
 'IRE',
 'IRE',
 'PAK',
 'WI',
 'NZ',
 'SL',
 'IND',
 'SA',
 'PAK',
 'SCO',
 'SA',
 'ENG',
 'AUS',
 'UAE',
 'ZIM',
 'NED',
 'ENG',
 'SCO',
 'BAN',
 'PNG',
 'SL',
 'ZIM',
 'USA',
 'AUS',
 'PAK',
 'SL',
 'PAK',
 'ZIM',
 'NAM',
 'NAM',
 'SA',
 'NEP',
 'ENG',
 'AFG',
 'OMA',
 'AUS',
 'IND',
 'AUS',
 'AFG']

In [90]:
ratingb=soup5_3.find('div',class_="rankings-block__banner--rating")
ratingb.text

'760'

In [91]:
ratingm=['760']
for i in soup5_3.find_all('td',class_="table-body__cell rating"):
    ratingm.append(i.text)
ratingm

['760',
 '727',
 '665',
 '661',
 '656',
 '655',
 '655',
 '650',
 '640',
 '635',
 '632',
 '631',
 '630',
 '629',
 '629',
 '619',
 '615',
 '609',
 '578',
 '577',
 '574',
 '573',
 '563',
 '553',
 '553',
 '552',
 '551',
 '537',
 '536',
 '535',
 '535',
 '533',
 '532',
 '527',
 '526',
 '526',
 '518',
 '517',
 '514',
 '508',
 '506',
 '506',
 '504',
 '498',
 '495',
 '493',
 '483',
 '479',
 '478',
 '472',
 '471',
 '471',
 '470',
 '469',
 '469',
 '469',
 '466',
 '464',
 '464',
 '462',
 '462',
 '462',
 '454',
 '452',
 '452',
 '452',
 '450',
 '450',
 '450',
 '449',
 '448',
 '438',
 '436',
 '434',
 '434',
 '434',
 '433',
 '432',
 '432',
 '428',
 '426',
 '424',
 '417',
 '416',
 '416',
 '415',
 '414',
 '413',
 '413',
 '411',
 '405',
 '405',
 '404',
 '402',
 '400',
 '398',
 '397',
 '396',
 '396',
 '395']

In [92]:
#generating data frame of top 10 bowlers
pdmbo=pd.DataFrame({'Player':playerbw,'Team':teamb,'Rating':ratingm})
print("Top 10 ODI Bowlers")
pdmbo.head(10)

Top 10 ODI Bowlers

              Player Team Rating
0        Trent Boult   NZ    760
1     Josh Hazlewood  AUS    727
2     Mitchell Starc  AUS    665
3     Shaheen Afridi  PAK    661
4         Matt Henry   NZ    656
5         Adam Zampa  AUS    655
6       Mehedi Hasan  BAN    655
7   Mujeeb Ur Rahman  AFG    650
8  Mustafizur Rahman  BAN    640
9        Rashid Khan  AFG    635

# Program6

In [93]:
page6=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
page6

In [94]:
soup6=BeautifulSoup(page6.content)

In [97]:
teamw=[]
for i in soup6.find_all('span',class_="u-hide-phablet"):
    teamw.append(i.text)
teamw

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Thailand',
 'Pakistan',
 'Sri Lanka',
 'Ireland',
 'Netherlands',
 'Zimbabwe']

In [98]:
len(teamw)

13

In [99]:
#for 1st rank holder the class is diff from rest teams so scarpping details seperately
matches_countw=[]
for i in soup6.find_all('td',class_=["rankings-block__banner--matches"]):
    matches_countw.append(i.text.splitlines())
matches_countw

[['18']]

In [100]:
#We also found that the class for points and count is same, so merging them together
team_pointsw=matches_countw
for i in soup6.find_all('td',class_="rankings-block__banner--points"):
    team_pointsw.append(i.text.splitlines())
team_pointsw

[['18'], ['3,061']]

In [101]:
mt_pt=team_pointsw
for i in soup5.find_all('td',class_=["table-body__cell u-center-text"]):
    mt_pt.append(i.text.splitlines())
mt_pt

[['18'],
 ['3,061'],
 ['30'],
 ['3,400'],
 ['32'],
 ['3,572'],
 ['35'],
 ['3,866'],
 ['22'],
 ['2,354'],
 ['24'],
 ['2,392'],
 ['30'],
 ['2,753'],
 ['30'],
 ['2,677'],
 ['19'],
 ['1,380'],
 ['41'],
 ['2,902'],
 ['23'],
 ['1,214'],
 ['27'],
 ['1,254'],
 ['26'],
 ['1,098'],
 ['23'],
 ['808'],
 ['21'],
 ['673'],
 ['30'],
 ['919'],
 ['25'],
 ['693'],
 ['31'],
 ['821'],
 ['25'],
 ['476'],
 ['30'],
 ['128']]

In [102]:
#seperating matches from joint-data
for i in range(0,26,2):
    matchfw=mt_pt[i][0]
    print(matchfw)

18
30
32
35
22
24
30
30
19
41
23
27
26

In [103]:
#seperating points from joint-data
for i in range(1,27,2):
    pointfw=mt_pt[i][0]
    print(pointfw)

3,061
3,400
3,572
3,866
2,354
2,392
2,753
2,677
1,380
2,902
1,214
1,254
1,098

In [104]:
ratingw=[]
for i in soup6.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    ratingw.append(i.text.strip())
ratingwf=[i.replace('\n','')for i in ratingw]
ratingwf

['170']

In [105]:
for i in soup6.find_all('td',class_="table-body__cell u-text-right rating"):
    ratingwf.append(i.text)
ratingwf

['170',
 '119',
 '116',
 '104',
 '101',
 '97',
 '78',
 '72',
 '63',
 '44',
 '39',
 '0',
 '0']

In [106]:
#generating data frame for top 1o women's team
dfwt=pd.DataFrame({'Team':teamw,'Matches':matchfw,'Points':pointfw,'Rating':ratingwf})
print("Top 1o Women's Cricket ODI Team")
dfwt.head(10)

Top 1o Women's Cricket ODI Team

           Team Matches Points Rating
0     Australia      26  1,098    170
1  South Africa      26  1,098    119
2       England      26  1,098    116
3         India      26  1,098    104
4   New Zealand      26  1,098    101
5   West Indies      26  1,098     97
6    Bangladesh      26  1,098     78
7      Thailand      26  1,098     72
8      Pakistan      26  1,098     63
9     Sri Lanka      26  1,098     44

In [ ]:
#batting

In [107]:
page6_2=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
page6_2

In [108]:
soup6_2=BeautifulSoup(page6_2.content)

In [109]:
pnamew=soup6_2.find('div',class_="rankings-block__banner--name-large")
pnamew.text

'Alyssa Healy'

In [110]:
pnamew=['Alyssa Healy']
for i in soup6_2.find_all('td',class_="table-body__cell rankings-table__name name"):
    pnamew.append(i.text)
pnamew

['Alyssa Healy',
 '\nBeth Mooney\n',
 '\nLaura Wolvaardt\n',
 '\nNatalie Sciver\n',
 '\nHarmanpreet Kaur\n',
 '\nSmriti Mandhana\n',
 '\nMeg Lanning\n',
 '\nRachael Haynes\n',
 '\nAmy Satterthwaite\n',
 '\nChamari Athapaththu\n',
 '\nEllyse Perry\n',
 '\nTammy Beaumont\n',
 '\nDeandra Dottin\n',
 '\nStafanie Taylor\n',
 '\nAmelia Kerr\n',
 '\nMarizanne Kapp\n',
 '\nHeather Knight\n',
 '\nHayley Matthews\n',
 '\nChloe-Lesleigh Tryon\n',
 '\nSophie Devine\n',
 '\nDanielle Wyatt\n',
 '\nSidra Ameen\n',
 '\nSuzie Bates\n',
 '\nMignon du Preez\n',
 '\nDeepti Sharma\n',
 '\nBismah Maroof\n',
 '\nAshleigh Gardner\n',
 '\nSune Luus\n',
 '\nFargana Hoque\n',
 '\nGaby Lewis\n',
 '\nAmy Jones\n',
 '\nMaddie Green\n',
 '\nLaura Delany\n',
 '\nAliya Riaz\n',
 '\nSophia Dunkley\n',
 '\nTahlia McGrath\n',
 '\nYastika Bhatia\n',
 '\nRumana Ahmed\n',
 '\nNahida Khan\n',
 '\nKatey Martin\n',
 '\nNida Dar\n',
 '\nUmaima Sohail\n',
 '\nShafali Verma\n',
 '\nMuneeba Ali\n',
 '\nHarshitha Madavi\n',
 '\nPoonam Raut\n',
 '\nBabette de Leede\n',
 '\nLara Goodall\n',
 '\nNattakan Chantam\n',
 '\nAmy Hunter\n',
 '\nNilakshi Silva\n',
 '\nPooja Vastrakar\n',
 '\nLeah Paul\n',
 '\nJaveria Khan\n',
 '\nShemaine Campbelle\n',
 '\nDane van Niekerk\n',
 '\nKatherine Brunt\n',
 '\nBrooke Halliday\n',
 '\nLauren Down\n',
 '\nEmma Lamb\n',
 '\nJess Jonassen\n',
 '\nNigar Sultana\n',
 '\nSharmin Supta\n',
 '\nCharlotte Dean\n',
 '\nSalma Khatun\n',
 '\nLauren Winfield\n',
 '\nTrisha Chetty\n',
 '\nAndrie Steyn\n',
 '\nChedean Nation\n',
 '\nJhulan Goswami\n',
 '\nRicha Ghosh\n',
 '\nLata Mondal\n',
 '\nOrla Prendergast\n',
 '\nPrasadani Weerakkody\n',
 '\nKatie Perkins\n',
 '\nNicola Carey\n',
 '\nSophie Ecclestone\n',
 '\nHasini Perera\n',
 '\nKavisha Dilhari\n',
 '\nMary Waldron\n',
 '\nNaruemol Chaiwai\n',
 '\nKycia Knight\n',
 '\nChinelle Henry\n',
 '\nHarleen Deol\n',
 '\nMurshida Khatun\n',
 '\nShamima Sultana\n',
 '\nEimear Richardson\n',
 '\nAnnabel Sutherland\n',
 '\nMary-Anne Musonda\n',
 '\nKate Cross\n',
 '\nNannapat Koncharoenkai\n',
 '\nGeorgina Dempsey\n',
 '\nRitu Moni\n',
 '\nShikha Pandey\n',
 '\nJess Kerr\n',
 '\nKyshona Knight\n',
 '\nRosenan Kanoh\n',
 '\nTazmin Brits\n',
 '\nJosephine Nkomo\n',
 '\nHeather Siegers\n']

In [111]:
pnamewf=[i.replace('\n','')for i in pnamew]
pnamewf

['Alyssa Healy',
 'Beth Mooney',
 'Laura Wolvaardt',
 'Natalie Sciver',
 'Harmanpreet Kaur',
 'Smriti Mandhana',
 'Meg Lanning',
 'Rachael Haynes',
 'Amy Satterthwaite',
 'Chamari Athapaththu',
 'Ellyse Perry',
 'Tammy Beaumont',
 'Deandra Dottin',
 'Stafanie Taylor',
 'Amelia Kerr',
 'Marizanne Kapp',
 'Heather Knight',
 'Hayley Matthews',
 'Chloe-Lesleigh Tryon',
 'Sophie Devine',
 'Danielle Wyatt',
 'Sidra Ameen',
 'Suzie Bates',
 'Mignon du Preez',
 'Deepti Sharma',
 'Bismah Maroof',
 'Ashleigh Gardner',
 'Sune Luus',
 'Fargana Hoque',
 'Gaby Lewis',
 'Amy Jones',
 'Maddie Green',
 'Laura Delany',
 'Aliya Riaz',
 'Sophia Dunkley',
 'Tahlia McGrath',
 'Yastika Bhatia',
 'Rumana Ahmed',
 'Nahida Khan',
 'Katey Martin',
 'Nida Dar',
 'Umaima Sohail',
 'Shafali Verma',
 'Muneeba Ali',
 'Harshitha Madavi',
 'Poonam Raut',
 'Babette de Leede',
 'Lara Goodall',
 'Nattakan Chantam',
 'Amy Hunter',
 'Nilakshi Silva',
 'Pooja Vastrakar',
 'Leah Paul',
 'Javeria Khan',
 'Shemaine Campbelle',
 'Dane van Niekerk',
 'Katherine Brunt',
 'Brooke Halliday',
 'Lauren Down',
 'Emma Lamb',
 'Jess Jonassen',
 'Nigar Sultana',
 'Sharmin Supta',
 'Charlotte Dean',
 'Salma Khatun',
 'Lauren Winfield',
 'Trisha Chetty',
 'Andrie Steyn',
 'Chedean Nation',
 'Jhulan Goswami',
 'Richa Ghosh',
 'Lata Mondal',
 'Orla Prendergast',
 'Prasadani Weerakkody',
 'Katie Perkins',
 'Nicola Carey',
 'Sophie Ecclestone',
 'Hasini Perera',
 'Kavisha Dilhari',
 'Mary Waldron',
 'Naruemol Chaiwai',
 'Kycia Knight',
 'Chinelle Henry',
 'Harleen Deol',
 'Murshida Khatun',
 'Shamima Sultana',
 'Eimear Richardson',
 'Annabel Sutherland',
 'Mary-Anne Musonda',
 'Kate Cross',
 'Nannapat Koncharoenkai',
 'Georgina Dempsey',
 'Ritu Moni',
 'Shikha Pandey',
 'Jess Kerr',
 'Kyshona Knight',
 'Rosenan Kanoh',
 'Tazmin Brits',
 'Josephine Nkomo',
 'Heather Siegers']

In [112]:
teamw=['AUS']
for i in soup6_2.find_all('span',class_="table-body__logo-text"):
    teamw.append(i.text)
teamw

['AUS',
 'AUS',
 'SA',
 'ENG',
 'IND',
 'IND',
 'AUS',
 'AUS',
 'NZ',
 'SL',
 'AUS',
 'ENG',
 'WI',
 'WI',
 'NZ',
 'SA',
 'ENG',
 'WI',
 'SA',
 'NZ',
 'ENG',
 'PAK',
 'NZ',
 'SA',
 'IND',
 'PAK',
 'AUS',
 'SA',
 'BAN',
 'IRE',
 'ENG',
 'NZ',
 'IRE',
 'PAK',
 'ENG',
 'AUS',
 'IND',
 'BAN',
 'PAK',
 'NZ',
 'PAK',
 'PAK',
 'IND',
 'PAK',
 'SL',
 'IND',
 'NED',
 'SA',
 'THA',
 'IRE',
 'SL',
 'IND',
 'IRE',
 'PAK',
 'WI',
 'SA',
 'ENG',
 'NZ',
 'NZ',
 'ENG',
 'AUS',
 'BAN',
 'BAN',
 'ENG',
 'BAN',
 'ENG',
 'SA',
 'SA',
 'WI',
 'IND',
 'IND',
 'BAN',
 'IRE',
 'SL',
 'NZ',
 'AUS',
 'ENG',
 'SL',
 'SL',
 'IRE',
 'THA',
 'WI',
 'WI',
 'IND',
 'BAN',
 'BAN',
 'IRE',
 'AUS',
 'ZIM',
 'ENG',
 'THA',
 'IRE',
 'BAN',
 'IND',
 'NZ',
 'WI',
 'THA',
 'SA',
 'ZIM',
 'NED']

In [113]:
ratingw=soup6_2.find('div',class_="rankings-block__banner--rating")
ratingw.text

'785'

In [114]:
ratingw=['785']
for i in soup6_2.find_all('td',class_="table-body__cell rating"):
    ratingw.append(i.text)
ratingw

['785',
 '749',
 '732',
 '725',
 '716',
 '714',
 '710',
 '701',
 '661',
 '655',
 '642',
 '609',
 '607',
 '606',
 '601',
 '585',
 '573',
 '567',
 '557',
 '557',
 '555',
 '551',
 '551',
 '548',
 '547',
 '543',
 '507',
 '496',
 '493',
 '485',
 '480',
 '476',
 '475',
 '474',
 '458',
 '445',
 '426',
 '419',
 '411',
 '408',
 '407',
 '406',
 '405',
 '404',
 '402',
 '397',
 '394',
 '394',
 '386',
 '385',
 '384',
 '380',
 '372',
 '371',
 '366',
 '363',
 '356',
 '347',
 '346',
 '343',
 '340',
 '339',
 '331',
 '325',
 '323',
 '315',
 '314',
 '311',
 '307',
 '307',
 '302',
 '301',
 '298',
 '298',
 '284',
 '274',
 '272',
 '267',
 '266',
 '263',
 '257',
 '255',
 '254',
 '253',
 '252',
 '248',
 '247',
 '246',
 '244',
 '242',
 '235',
 '232',
 '230',
 '228',
 '226',
 '226',
 '225',
 '224',
 '222',
 '222']

In [115]:
#Generating DataFrame for top 10 batswomen
dfwba=pd.DataFrame({'Player':pnamewf,'Team':teamw,'Rating':ratingw})
print("Top 10 Women's ODI players-Batting")
dfwba.head(10)

Top 10 Women's ODI players-Batting

                Player Team Rating
0         Alyssa Healy  AUS    785
1          Beth Mooney  AUS    749
2      Laura Wolvaardt   SA    732
3       Natalie Sciver  ENG    725
4     Harmanpreet Kaur  IND    716
5      Smriti Mandhana  IND    714
6          Meg Lanning  AUS    710
7       Rachael Haynes  AUS    701
8    Amy Satterthwaite   NZ    661
9  Chamari Athapaththu   SL    655

In [ ]:
#All Rounder

In [116]:
page6_3=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
page6_3

In [117]:
soup6_3=BeautifulSoup(page6_3.content)

In [118]:
playerbo=soup6_3.find('div',class_="rankings-block__banner--name-large")
playerbo.text

'Hayley Matthews'

In [119]:
playerar=['Hayley Matthews']
for i in soup6_3.find_all('td',class_="table-body__cell rankings-table__name name"):
    playerar.append(i.text)
playerar

['Hayley Matthews',
 '\nEllyse Perry\n',
 '\nNatalie Sciver\n',
 '\nAmelia Kerr\n',
 '\nMarizanne Kapp\n',
 '\nDeepti Sharma\n',
 '\nAshleigh Gardner\n',
 '\nJess Jonassen\n',
 '\nJhulan Goswami\n',
 '\nKatherine Brunt\n',
 '\nNida Dar\n',
 '\nSophie Ecclestone\n',
 '\nRumana Ahmed\n',
 '\nChloe-Lesleigh Tryon\n',
 '\nStafanie Taylor\n',
 '\nSophie Devine\n',
 '\nSalma Khatun\n',
 '\nChamari Athapaththu\n',
 '\nCharlotte Dean\n',
 '\nSune Luus\n']

In [120]:
playerarw=[i.replace('\n','')for i in playerar]
playerarw

['Hayley Matthews',
 'Ellyse Perry',
 'Natalie Sciver',
 'Amelia Kerr',
 'Marizanne Kapp',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Jhulan Goswami',
 'Katherine Brunt',
 'Nida Dar',
 'Sophie Ecclestone',
 'Rumana Ahmed',
 'Chloe-Lesleigh Tryon',
 'Stafanie Taylor',
 'Sophie Devine',
 'Salma Khatun',
 'Chamari Athapaththu',
 'Charlotte Dean',
 'Sune Luus']

In [121]:
teamar=['WI']
for i in soup6_3.find_all('span',class_="table-body__logo-text"):
    teamar.append(i.text)
teamar

['WI',
 'AUS',
 'ENG',
 'NZ',
 'SA',
 'IND',
 'AUS',
 'AUS',
 'IND',
 'ENG',
 'PAK',
 'ENG',
 'BAN',
 'SA',
 'WI',
 'NZ',
 'BAN',
 'SL',
 'ENG',
 'SA']

In [122]:
ratingar=soup6_3.find('div',class_="rankings-block__banner--rating")
ratingar.text

'380'

In [123]:
ratingarw=['739']
for i in soup6_3.find_all('td',class_="table-body__cell rating"):
    ratingarw.append(i.text)
ratingarw

['739',
 '374',
 '357',
 '356',
 '349',
 '322',
 '270',
 '246',
 '214',
 '207',
 '205',
 '201',
 '201',
 '197',
 '192',
 '189',
 '178',
 '178',
 '175',
 '171']

In [124]:
#Generating data frame for women's all rounder
dfar=pd.DataFrame({'Player':playerarw,'Team':teamar,'Rating':ratingarw})
print("Top 10 Women's All-Rounder")
dfar.head(10)

Top 10 Women's All-Rounder

             Player Team Rating
0   Hayley Matthews   WI    739
1      Ellyse Perry  AUS    374
2    Natalie Sciver  ENG    357
3       Amelia Kerr   NZ    356
4    Marizanne Kapp   SA    349
5     Deepti Sharma  IND    322
6  Ashleigh Gardner  AUS    270
7     Jess Jonassen  AUS    246
8    Jhulan Goswami  IND    214
9   Katherine Brunt  ENG    207

# Program7

In [125]:
page7=requests.get("https://www.cnbc.com/world/?region=world")
page7

In [126]:
soup7=BeautifulSoup(page7.content)

In [127]:
headline=[]
for i in soup7.find_all('a',class_="LatestNews-headline"):
    headline.append(i.text)
headline

['The 10 countries with the least paid vacation—the U.S. is No. 2',
 'Michigan couple makes $9,000/mo teaching people to launch lucrative side hustles',
 'These 10 cars have the greatest potential lifespan — and 6 are Toyotas',
 'Startup backed by Tesla investor promises $300,000 flying car by 2025',
 'Manufacturing orders from China down 40% in demand collapse',
 "Death of the internal combustion engine — Cowen's best stocks to play the trend",
 'These stocks are cheap heading into 2023, and analysts love them',
 "Who will be Disney's next CEO? Here are the top contenders to succeed Bob Iger",
 'Study: exercise may increase the effectiveness of Covid-19 vaccines',
 'OPEC+ agrees to stick to its existing policy of reducing oil production',
 'Parking lots are becoming as important as cars in climate change efforts',
 "Amazon's cloud unit faces cost-sensitive customers as economic fears mount",
 'Don’t overlook this health warning on your decorative holiday lights',
 'How electric air taxis could shake up the airline industry in the next decade',
 "I raised 2 successful CEOs and a doctor. Here's the No. 1 skill I wish more parents taught kids today",
 'Delta pilots would get more than 30% in pay raises under new contract deal',
 'Men participate less in 401(k) plans than women unless they are auto-enrolled',
 'The best U.S. states to raise a family if you make over $70,000 a year',
 'Susan Cain: This Bob Dylan-inspired phrase can make tough conversations easier',
 "The difference between this comeback and the market's last failed bounce",
 'Goldman says buy these five stocks for the long haul',
 'Celsius users with crypto collateral stuck turn to bankruptcy process for relief',
 "Cramer's lightning round: Let Extreme Networks cool off a little before buying",
 'Jim Cramer says these 3 apparel stocks benefit from return to office',
 'Cramer’s week ahead: Markets need a strong job market, tame inflation to stay up',
 "Pro Picks: Watch all of Friday's big stock calls on CNBC",
 "There is 'enormous opportunity' in REITs, says Gilman Hill's Jenny Harrington",
 'Biden administration will end monkeypox public health emergency',
 'Expect more choppiness ahead after a week of mixed market signals',
 'GM, LG investing $275 million to expand Tennessee EV battery plant']

In [128]:
time=[]
for i in soup7.find_all('time',class_="LatestNews-timestamp"):
    time.append(i.text)
time

['3 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 'December 3, 2022',
 'December 3, 2022',
 'December 3, 2022',
 'December 3, 2022',
 'December 3, 2022',
 'December 3, 2022',
 'December 3, 2022',
 'December 3, 2022',
 'December 3, 2022',
 'December 3, 2022',
 'December 3, 2022',
 'December 3, 2022',
 'December 2, 2022',
 'December 2, 2022',
 'December 2, 2022',
 'December 2, 2022',
 'December 2, 2022',
 'December 2, 2022',
 'December 2, 2022',
 'December 2, 2022']

In [129]:
link=[]
for i in soup7.find_all('a',class_="LatestNews-headline"):
    link.append(i.get('href'))
link

['https://www.cnbc.com/2022/12/04/the-10-countries-with-the-least-paid-vacationthe-us-is-no-2.html',
 'https://www.cnbc.com/2022/12/04/michigan-couple-teaches-people-how-to-start-lucrative-side-hustles.html',
 'https://www.cnbc.com/2022/12/04/these-10-cars-have-the-greatest-potential-lifespan.html',
 'https://www.cnbc.com/2022/12/04/alef-aeronautics-startup-backed-by-tesla-investor-flying-car-by-2025.html',
 'https://www.cnbc.com/2022/12/04/manufacturing-orders-from-china-down-40percent-in-demand-collapse.html',
 'https://www.cnbc.com/2022/12/04/death-of-the-internal-combustion-engine-cowens-best-stocks-to-play-the-trend.html',
 'https://www.cnbc.com/2022/12/04/these-stocks-are-cheap-heading-into-2023-and-analysts-love-them.html',
 'https://www.cnbc.com/2022/12/04/disney-ceo-top-contenders-succeed-bob-iger.html',
 'https://www.cnbc.com/2022/12/04/study-exercise-may-increase-the-effectiveness-of-covid-19-vaccines.html',
 'https://www.cnbc.com/2022/12/04/opec-meeting-oil-producer-group-in-focus-ahead-of-russia-sanctions.html',
 'https://www.cnbc.com/2022/12/03/parking-lots-becoming-as-important-as-cars-in-climate-change-efforts.html',
 'https://www.cnbc.com/2022/12/03/aws-faces-cost-sensitive-customers-at-reinvent-as-economic-fears-mount.html',
 'https://www.cnbc.com/2022/12/03/dont-overlook-this-health-and-safety-warning-on-your-holiday-lights.html',
 'https://www.cnbc.com/2022/12/03/how-electric-air-taxis-could-shake-up-the-airline-industry.html',
 'https://www.cnbc.com/2022/12/03/i-raised-2-successful-ceos-and-a-doctor-heres-the-no-1-skill-parents-are-failing-to-teach-kids-today.html',
 'https://www.cnbc.com/2022/12/03/delta-pilots-would-get-more-than-30percent-in-pay-raises-under-new-contract-deal.html',
 'https://www.cnbc.com/2022/12/03/men-participate-less-in-401k-plans-than-women-unless-auto-enrolled.html',
 'https://www.cnbc.com/2022/12/03/best-states-raise-a-family-rocket-mortgage.html',
 'https://www.cnbc.com/2022/12/03/bestselling-author-susan-cain-how-to-make-tough-conversations-easier.html',
 'https://www.cnbc.com/2022/12/03/the-difference-between-this-comeback-and-the-markets-last-failed-bear-market-bounce.html',
 'https://www.cnbc.com/2022/12/03/goldman-says-buy-these-five-stocks-in-a-weakening-macro-environment.html',
 'https://www.cnbc.com/2022/12/03/celsius-users-with-crypto-collateral-stuck-turn-to-bankruptcy-process.html',
 'https://www.cnbc.com/2022/12/02/cramers-lightning-round-let-extreme-networks-cool-off-before-buying.html',
 'https://www.cnbc.com/2022/12/02/jim-cramer-says-these-3-apparel-stocks-benefit-from-return-to-office.html',
 'https://www.cnbc.com/2022/12/02/cramers-week-ahead-markets-need-a-strong-job-market-tame-inflation.html',
 'https://www.cnbc.com/2022/12/02/pro-picks-watch-all-of-fridays-big-stock-calls-on-cnbc.html',
 'https://www.cnbc.com/2022/12/02/reits-offer-enormous-opportunity-says-gilman-hills-jenny-harrington.html',
 'https://www.cnbc.com/2022/12/02/biden-administration-will-end-monkeypox-public-health-emergency.html',
 'https://www.cnbc.com/2022/12/02/expect-more-choppiness-ahead-after-a-week-of-mixed-market-signals.html',
 'https://www.cnbc.com/2022/12/02/gm-lg-investing-275-million-to-expand-tennessee-ev-battery-plant.html']

In [130]:
#generating the data frame
df7=pd.DataFrame({'Headline':headline,'Time':time,'Links':link})
print("Top Headlines")
df7

Top Headlines

,Headline,Time,Links
0,The 10 countries with the least paid vacation—...,3 Hours Ago,https://www.cnbc.com/2022/12/04/the-10-countri...
1,"Michigan couple makes $9,000/mo teaching peopl...",4 Hours Ago,https://www.cnbc.com/2022/12/04/michigan-coupl...
2,These 10 cars have the greatest potential life...,4 Hours Ago,https://www.cnbc.com/2022/12/04/these-10-cars-...
3,Startup backed by Tesla investor promises $300...,4 Hours Ago,https://www.cnbc.com/2022/12/04/alef-aeronauti...
4,Manufacturing orders from China down 40% in de...,4 Hours Ago,https://www.cnbc.com/2022/12/04/manufacturing-...
5,Death of the internal combustion engine — Cowe...,5 Hours Ago,https://www.cnbc.com/2022/12/04/death-of-the-i...
6,"These stocks are cheap heading into 2023, and ...",5 Hours Ago,https://www.cnbc.com/2022/12/04/these-stocks-a...
7,Who will be Disney's next CEO? Here are the to...,5 Hours Ago,https://www.cnbc.com/2022/12/04/disney-ceo-top...
8,Study: exercise may increase the effectiveness...,5 Hours Ago,https://www.cnbc.com/2022/12/04/study-exercise...
9,OPEC+ agrees to stick to its existing policy o...,5 Hours Ago,https://www.cnbc.com/2022/12/04/opec-meeting-o...
10,Parking lots are becoming as important as cars...,"December 3, 2022",https://www.cnbc.com/2022/12/03/parking-lots-b...
11,Amazon's cloud unit faces cost-sensitive custo...,"December 3, 2022",https://www.cnbc.com/2022/12/03/aws-faces-cost...
12,Don’t overlook this health warning on your dec...,"December 3, 2022",https://www.cnbc.com/2022/12/03/dont-overlook-...
13,How electric air taxis could shake up the airl...,"December 3, 2022",https://www.cnbc.com/2022/12/03/how-electric-a...
14,I raised 2 successful CEOs and a doctor. Here'...,"December 3, 2022",https://www.cnbc.com/2022/12/03/i-raised-2-suc...
15,Delta pilots would get more than 30% in pay ra...,"December 3, 2022",https://www.cnbc.com/2022/12/03/delta-pilots-w...
16,Men participate less in 401(k) plans than wome...,"December 3, 2022",https://www.cnbc.com/2022/12/03/men-participat...
17,The best U.S. states to raise a family if you ...,"December 3, 2022",https://www.cnbc.com/2022/12/03/best-states-ra...
18,Susan Cain: This Bob Dylan-inspired phrase can...,"December 3, 2022",https://www.cnbc.com/2022/12/03/bestselling-au...
19,The difference between this comeback and the m...,"December 3, 2022",https://www.cnbc.com/2022/12/03/the-difference...
20,Goldman says buy these five stocks for the lon...,"December 3, 2022",https://www.cnbc.com/2022/12/03/goldman-says-b...
21,Celsius users with crypto collateral stuck tur...,"December 3, 2022",https://www.cnbc.com/2022/12/03/celsius-users-...
22,Cramer's lightning round: Let Extreme Networks...,"December 2, 2022",https://www.cnbc.com/2022/12/02/cramers-lightn...
23,Jim Cramer says these 3 apparel stocks benefit...,"December 2, 2022",https://www.cnbc.com/2022/12/02/jim-cramer-say...
24,Cramer’s week ahead: Markets need a strong job...,"December 2, 2022",https://www.cnbc.com/2022/12/02/cramers-week-a...
25,Pro Picks: Watch all of Friday's big stock cal...,"December 2, 2022",https://www.cnbc.com/2022/12/02/pro-picks-watc...
26,"There is 'enormous opportunity' in REITs, says...","December 2, 2022",https://www.cnbc.com/2022/12/02/reits-offer-en...
27,Biden administration will end monkeypox public...,"December 2, 2022",https://www.cnbc.com/2022/12/02/biden-administ...
28,Expect more choppiness ahead after a week of m...,"December 2, 2022",https://www.cnbc.com/2022/12/02/expect-more-ch...
29,"GM, LG investing $275 million to expand Tennes...","December 2, 2022",https://www.cnbc.com/2022/12/02/gm-lg-investin...

# Program8

In [131]:
page8=requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")
page8

In [132]:
soup8=BeautifulSoup(page8.content)

In [133]:
title=[]
for i in soup8.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    title.append(i.text)
title

['Reward is enough',
 'Making sense of raw input',
 'Law and logic: A review from an argumentation perspective',
 'Creativity and artificial intelligence',
 'Artificial cognition for social human–robot interaction: An implementation',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Making sense of sensory input',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'The Hanabi challenge: A new frontier for AI research',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Argumentation in artificial intelligence',
 'Algorithms for computing strategies in two-player simultaneous move games',
 'Multiple object tracking: A literature review',
 'Selection of relevant features and examples in machine learning',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'Integrating social power into the decision-making of cognitive agents',
 "“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems",
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'Algorithm runtime prediction: Methods & evaluation',
 'Wrappers for feature subset selection',
 'Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics',
 'Quantum computation, quantum theory and AI']

In [134]:
authors=[]
for i in soup8.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    authors.append(i.text)
authors

['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. ',
 'Evans, Richard, Bošnjak, Matko and 5 more',
 'Prakken, Henry, Sartor, Giovanni ',
 'Boden, Margaret A. ',
 'Lemaignan, Séverin, Warnier, Mathieu and 3 more',
 'Miller, Tim ',
 'Evans, Richard, Hernández-Orallo, José and 3 more',
 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. ',
 'Sutton, Richard S., Precup, Doina, Singh, Satinder ',
 'Bard, Nolan, Foerster, Jakob N. and 13 more',
 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark ',
 'Bench-Capon, T.J.M., Dunne, Paul E. ',
 'Bošanský, Branislav, Lisý, Viliam and 3 more',
 'Luo, Wenhan, Xing, Junliang and 4 more',
 'Blum, Avrim L., Langley, Pat ',
 'Arora, Saurabh, Doshi, Prashant ',
 'Aas, Kjersti, Jullum, Martin, Løland, Anders ',
 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes ',
 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. ',
 'Riveiro, Maria, Thill, Serge ',
 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. ',
 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin ',
 'Kohavi, Ron, John, George H. ',
 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna ',
 'Ying, Mingsheng ']

In [135]:
year=[]
for i in soup8.find_all('span',"sc-1thf9ly-2 dvggWt"):
    year.append(i.text)
year

['October 2021',
 'October 2021',
 'October 2015',
 'August 1998',
 'June 2017',
 'February 2019',
 'April 2021',
 'February 2015',
 'August 1999',
 'March 2020',
 'February 2021',
 'October 2007',
 'August 2016',
 'April 2021',
 'December 1997',
 'August 2021',
 'September 2021',
 'June 2021',
 'December 2016',
 'September 2021',
 'May 2021',
 'January 2014',
 'December 1997',
 'October 2021',
 'February 2010']

In [136]:
link=[]
for i in soup8.find_all('a',class_="sc-5smygv-0 fIXTHm"):
    link.append(i.get('href'))
link

['https://www.sciencedirect.com/science/article/pii/S0004370221000862',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000722',
 'https://www.sciencedirect.com/science/article/pii/S0004370215000910',
 'https://www.sciencedirect.com/science/article/pii/S0004370298000551',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300790',
 'https://www.sciencedirect.com/science/article/pii/S0004370218305988',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301855',
 'https://www.sciencedirect.com/science/article/pii/S0004370214001386',
 'https://www.sciencedirect.com/science/article/pii/S0004370299000521',
 'https://www.sciencedirect.com/science/article/pii/S0004370219300116',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301533',
 'https://www.sciencedirect.com/science/article/pii/S0004370207000793',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300285',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301958',
 'https://www.sciencedirect.com/science/article/pii/S0004370297000635',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000515',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000539',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000096',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300868',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000588',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000102',
 'https://www.sciencedirect.com/science/article/pii/S0004370213001082',
 'https://www.sciencedirect.com/science/article/pii/S000437029700043X',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000734',
 'https://www.sciencedirect.com/science/article/pii/S0004370209001398']

In [137]:
#Generating the data frame
df8=pd.DataFrame({'Paper Title':title,'Authors':authors,'Published Date':year,'Paper URL':link})
print("Most Downloaded Articles from AI in last 90 days")
df8

Most Downloaded Articles from AI in last 90 days

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# Program9

In [138]:
page9=requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
page9

In [139]:
soup9=BeautifulSoup(page9.content)

In [140]:
restaurant=[]
for i in soup9.find_all('a',class_="restnt-name ellipsis"):
    restaurant.append(i.text)
restaurant

['Castle Barbeque',
 'Jungle Jamboree',
 'Castle Barbeque',
 'Cafe Knosh',
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'Indian Grill Room']

In [141]:
cuisine=[]
for i in soup9.find_all('span',class_="double-line-ellipsis"):
    cuisine.append(i.text.split('|')[1])
cuisine

[' Chinese, North Indian',
 ' North Indian, Asian, Italian',
 ' Chinese, North Indian',
 ' Italian, Continental',
 ' North Indian, Chinese',
 ' North Indian, Italian',
 ' North Indian',
 ' North Indian',
 ' North Indian, Mughlai']

In [142]:
location=[]
for i in soup9.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text)
location

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon']

In [143]:
ratings=[]
for i in soup9.find_all('div',class_="restnt-rating rating-4"):
    ratings.append(i.text)
ratings

['4.1', '3.9', '3.9', '4.3', '4', '3.9', '3.6', '3.8', '4.3']

In [144]:
imgurl=[]
for i in soup9.find_all('img',class_="no-img"):
    imgurl.append(i.get('data-src'))
imgurl

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium']

In [145]:
#generating data frame
df9=pd.DataFrame({'Restaurant_Name':restaurant,'Cuisine':cuisine,'Location':location,'Ratings':ratings,'Image URL':imgurl})
print("Best Buffet Special Restaurants")
df9

Best Buffet Special Restaurants

,Restaurant_Name,Cuisine,Location,Ratings,Image URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.6,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

# Program10

In [146]:
page10=requests.get("https://scholar.google.com/citations?view_op=top_venues&hl=en")
page10

In [147]:
soup10=BeautifulSoup(page10.content)

In [148]:
rank=[]
for i in soup10.find_all('td',class_="gsc_mvt_p"):
    rank.append(i.text)
rank

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.',
 '31.',
 '32.',
 '33.',
 '34.',
 '35.',
 '36.',
 '37.',
 '38.',
 '39.',
 '40.',
 '41.',
 '42.',
 '43.',
 '44.',
 '45.',
 '46.',
 '47.',
 '48.',
 '49.',
 '50.',
 '51.',
 '52.',
 '53.',
 '54.',
 '55.',
 '56.',
 '57.',
 '58.',
 '59.',
 '60.',
 '61.',
 '62.',
 '63.',
 '64.',
 '65.',
 '66.',
 '67.',
 '68.',
 '69.',
 '70.',
 '71.',
 '72.',
 '73.',
 '74.',
 '75.',
 '76.',
 '77.',
 '78.',
 '79.',
 '80.',
 '81.',
 '82.',
 '83.',
 '84.',
 '85.',
 '86.',
 '87.',
 '88.',
 '89.',
 '90.',
 '91.',
 '92.',
 '93.',
 '94.',
 '95.',
 '96.',
 '97.',
 '98.',
 '99.',
 '100.']

In [149]:
publication=[]
for i in soup10.find_all('td',class_="gsc_mvt_t"):
    publication.append(i.text)
publication

['Nature',
 'The New England Journal of Medicine',
 'Science',
 'IEEE/CVF Conference on Computer Vision and Pattern Recognition',
 'The Lancet',
 'Advanced Materials',
 'Nature Communications',
 'Cell',
 'International Conference on Learning Representations',
 'Neural Information Processing Systems',
 'JAMA',
 'Chemical Reviews',
 'Proceedings of the National Academy of Sciences',
 'Angewandte Chemie',
 'Chemical Society Reviews',
 'Journal of the American Chemical Society',
 'IEEE/CVF International Conference on Computer Vision',
 'Nucleic Acids Research',
 'International Conference on Machine Learning',
 'Nature Medicine',
 'Renewable and Sustainable Energy Reviews',
 'Science of The Total Environment',
 'Advanced Energy Materials',
 'Journal of Clinical Oncology',
 'ACS Nano',
 'Journal of Cleaner Production',
 'Advanced Functional Materials',
 'Physical Review Letters',
 'Scientific Reports',
 'The Lancet Oncology',
 'Energy & Environmental Science',
 'IEEE Access',
 'PLoS ONE',
 'Science Advances',
 'Journal of the American College of Cardiology',
 'Applied Catalysis B: Environmental',
 'Nature Genetics',
 'BMJ',
 'Circulation',
 'European Conference on Computer Vision',
 'International Journal of Molecular Sciences',
 'Nature Materials',
 'Chemical engineering journal',
 'AAAI Conference on Artificial Intelligence',
 'Journal of Materials Chemistry A',
 'ACS Applied Materials & Interfaces',
 'Nature Biotechnology',
 'The Lancet Infectious Diseases',
 'Frontiers in Immunology',
 'Applied Energy',
 'Nano Energy',
 'Nature Energy',
 'Meeting of the Association for Computational Linguistics (ACL)',
 'The Astrophysical Journal',
 'Gastroenterology',
 'Nature Methods',
 'IEEE Transactions on Pattern Analysis and Machine Intelligence',
 'Cochrane Database of Systematic Reviews',
 'Blood',
 'Neuron',
 'Nano Letters',
 'Morbidity and Mortality Weekly Report',
 'European Heart Journal',
 'Nature Nanotechnology',
 'ACS Catalysis',
 'Nature Neuroscience',
 'American Economic Review',
 'Journal of High Energy Physics',
 'IEEE Communications Surveys & Tutorials',
 'Annals of Oncology',
 'Nutrients',
 'Accounts of Chemical Research',
 'Immunity',
 'Environmental Science & Technology',
 'Nature Reviews. Molecular Cell Biology',
 'Gut',
 'Physical Review D',
 'ACS Energy Letters',
 'Monthly Notices of the Royal Astronomical Society',
 'Conference on Empirical Methods in Natural Language Processing (EMNLP)',
 'Clinical Infectious Diseases',
 'Cell Metabolism',
 'Nature Reviews Immunology',
 'Joule',
 'Nature Photonics',
 'International Journal of Environmental Research and Public Health',
 'Environmental Pollution',
 'Computers in Human Behavior',
 'Frontiers in Microbiology',
 'Nature Physics',
 'Small',
 'Cell Reports',
 'Molecular Cell',
 'Clinical Cancer Research',
 'Bioresource Technology',
 'Journal of Business Research',
 'Molecular Cancer',
 'Sensors',
 'Nature Climate Change',
 'IEEE Internet of Things Journal']

In [150]:
h5i=[]
for i in soup10.find_all('a',class_="gs_ibl gsc_mp_anchor"):
    h5i.append(i.text)
h5i

['444',
 '432',
 '401',
 '389',
 '354',
 '312',
 '307',
 '300',
 '286',
 '278',
 '267',
 '265',
 '256',
 '245',
 '244',
 '242',
 '239',
 '238',
 '237',
 '235',
 '227',
 '225',
 '220',
 '213',
 '211',
 '211',
 '210',
 '207',
 '206',
 '202',
 '202',
 '200',
 '198',
 '197',
 '195',
 '192',
 '191',
 '190',
 '189',
 '186',
 '183',
 '181',
 '181',
 '180',
 '178',
 '177',
 '175',
 '173',
 '173',
 '173',
 '172',
 '170',
 '169',
 '167',
 '166',
 '165',
 '165',
 '165',
 '165',
 '164',
 '164',
 '163',
 '163',
 '163',
 '163',
 '162',
 '160',
 '160',
 '159',
 '159',
 '159',
 '159',
 '158',
 '158',
 '155',
 '155',
 '155',
 '155',
 '155',
 '154',
 '153',
 '153',
 '152',
 '152',
 '152',
 '152',
 '152',
 '152',
 '151',
 '151',
 '150',
 '149',
 '149',
 '146',
 '146',
 '145',
 '145',
 '145',
 '144',
 '144']

In [151]:
h5m=[]
for i in soup10.find_all('span',class_="gs_ibl gsc_mp_anchor"):
    h5m.append(i.text)
h5m

['667',
 '780',
 '614',
 '627',
 '635',
 '418',
 '428',
 '505',
 '533',
 '436',
 '425',
 '444',
 '364',
 '332',
 '386',
 '344',
 '415',
 '550',
 '421',
 '389',
 '324',
 '311',
 '300',
 '315',
 '277',
 '273',
 '280',
 '294',
 '274',
 '329',
 '290',
 '303',
 '278',
 '294',
 '276',
 '246',
 '297',
 '307',
 '301',
 '321',
 '253',
 '265',
 '224',
 '296',
 '220',
 '223',
 '315',
 '296',
 '228',
 '217',
 '232',
 '314',
 '304',
 '234',
 '254',
 '296',
 '293',
 '243',
 '229',
 '231',
 '207',
 '302',
 '265',
 '264',
 '220',
 '248',
 '263',
 '220',
 '304',
 '243',
 '214',
 '211',
 '242',
 '214',
 '340',
 '235',
 '217',
 '212',
 '194',
 '249',
 '278',
 '211',
 '292',
 '233',
 '228',
 '225',
 '222',
 '214',
 '225',
 '222',
 '196',
 '205',
 '202',
 '201',
 '190',
 '233',
 '209',
 '201',
 '228',
 '212']

In [152]:
#Generating DataFrame
df10=pd.DataFrame({'Rank':rank,'Publication':publication,'h-5 Index':h5i,'h5-Median':h5m})
print("Top Publications from Google Scholar")
df10

Top Publications from Google Scholar

,Rank,Publication,h-5 Index,h5-Median
0,1.,Nature,444,667
1,2.,The New England Journal of Medicine,432,780
2,3.,Science,401,614
3,4.,IEEE/CVF Conference on Computer Vision and Pat...,389,627
4,5.,The Lancet,354,635
...,...,...,...,...
95,96.,Journal of Business Research,145,233
96,97.,Molecular Cancer,145,209
97,98.,Sensors,145,201
98,99.,Nature Climate Change,144,228
99,100.,IEEE Internet of Things Journal,144,212